<%= title('Blog') %>
<meta name="title" content="Build Your Career from the Ground Up with Grassroot Certification in Web Development & Design" />
<meta name="keywords" content="Grassroot Certification, online certification in web development & design. Free coding courses" />
<meta name="description" content="Take the first step towards a successful career in web development and design with our Grassroot Certification program. Our online certification courses are designed to provide you with the skills and knowledge you need to excel in the industry. Study online in our Full Program.  It's free and open to all" />
<div class="wrapper side-paddings snipcss-G7WgM">
    <div class="post-info">
        <h1 class="post-heading">Will I get a certificate once I complete Grassroot?</h1>
        <div class="post-info-bottom">
            <div class="text-block-11 w-hidden-tiny">Posted on&nbsp;</div>
            <div class="text-block-10 w-hidden-tiny">Mar 14, 2023</div>
            </a>
        </div>
        <br>
    </div>
  
    <div class="post">
        <div class="rich-text-block h6 w-richtext">

        <h3>
            Sometimes you want to take a course just for the sheer joy of learning something new. But sometimes you need to complete a course for a better job, a promotion, or a college application.
        </h3>

    <br>
        <h3>
            Yes, we do provide a certificate upon your completion of Grassroot.
        </h3>
    <br>

        <p>
        However, The best employers out there don't care whether or not you have an "official" degree. What matters to them is that you know how to get the job done.
        </p>

<p>
        By studying at Grassroot and completing the full-time program, you will have the technical skills, soft skills, tenacity, and determination that many accredited programs at universities can't provide. Additionally, you'll have a large portfolio of documented projects you built during the training to help showcase your skills.
</p>

<p>
A verified certificate shows that you have successfully passed a Grassroot
course in the verified track.
</p>


<p>
A verified certificate from Grassroot can provide proof for an employer, school, or other institution that you have successfully completed an online course.
</p>

<p>
When you pass your course, you'll receive your professional certificate. You can share your certificate with friends, employers and others through an easy-to-share link we provide, or in certain cases stack it towards a larger credential
</p>

<h2>
Can I get an IBM Badge?
</p>

<p>
Learners who complete Grassroot courses and earn a verified certificate are eligible for an additional digital badge from IBM and Credly.
</p>


<h2>
Badge FAQs:
</h2>


<p>
What is a digital badge?
</p>


<p>
A digital badge is a portable online data object which represents an outcome or achievement. They are secure, web-enabled credentials that contain granular, verified information employers can use to evaluate an individual's potential.
</p>

<p>
How does my credential get displayed as a digital badge?
</p>

<p>
Grassroot and IBM have partnered with Credly to leverage their platform to translate your learning outcomes or experiences into the digital badges.
</p>


<p>
This allows the badge earner (you) to accept, manage and share your digital badge and the credentials it represents as a digital asset.
</p>

<h2>
What is Credly?
</h2>


<p>
Credly is a digital badging platform (formerly known as Credly's Acclaim platform). Its focal point is an enterprise-class badging platform built in compliance with the IMS Global Learning Consortium Open Badge Specifications to support the specialized needs of credential issuers, employers, and professionals. The Credly web platform provides a secure means of storage, transport and credential publishing that adds a layer of protection against those who may falsely claim high-stakes credentials.
</p>

        </div>
      
    </div>

    <br><br>
</div>



<style>

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"); 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.section { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 50px 40px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: #fff;
} 

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 
 

.wrapper { 
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.wrapper.side-paddings { 
    padding-right: 15px; 
    padding-left: 15px;
} 

.post-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.post { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    padding-right: 10%; 
    padding-left: 10%; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    font-size: 14px; 
    line-height: 18px;
} 

a { 
    background-color: transparent; 
    text-decoration: underline;
} 

.badge { 
    display: inline-block; 
    padding: 6px 8px 6px 9px; 
    border-radius: 5px; 
    background-color: #2583fd; 
    color: #fff; 
    font-size: 8px; 
    line-height: 12px; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-decoration: none; 
    text-transform: uppercase;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    opacity: .5;
} 

h1 { 
    margin:    .67em 0;
    font-weight:   700; 
    margin-bottom:   24px; 
    margin-top:  0; 
    font-size:  44px; 
    line-height:  56px;
    font-family: 'Domine', sans-serif;
} 

.post-heading { 
      max-width: 700px;
    margin-top: 4rem; 
    font-size: 2.5rem;
    color: #3e396b;
} 

.post-info-bottom { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-left: 12px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    color: #7a8292; 
    font-size: 12px; 
    line-height: 16px;
} 

.social-buttons-wrapper { 
    position: fixed; 
    left: 2%; 
    top: 0; 
    right: auto; 
    bottom: 0; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #a9b0be; 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase;
} 

img { 
    border: 0; 
    vertical-align: middle; 
    display: inline-block; 
    max-width: 100%;
} 

.post-image-modif { 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.post-image-mob { 
    display: none; 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.toc-wrapper { 
    margin-bottom: 50px; 
    padding: 32px 32px 10px; 
    border: 1px solid #3e396b;
} 

.rich-text-block { 
    color: #636b98; 
    line-height: 34px;
} 

.w-richtext:after,.w-richtext:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-richtext:after { 
    clear: both;
} 

.blog-button-container { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: -15px; 
    margin-left: -15px; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #fff;
} 

.w-condition-invisible,.w-dyn-bind-empty { 
    display: none!important;
} 

.w-condition-invisible { 
    display: none!important;
} 

.relative { 
    position: relative;
} 

.sign_in_wrapper-posts { 
    padding: 70px 13% 50px; 
    background-color: #6f23ff;
} 

.sign_in_wrapper { 
    padding-top: 70px; 
    padding-bottom: 70px; 
    background-color: #6f23ff;
} 

.s-m-y-30 { 
    margin-top: 30px; 
    margin-bottom: 30px;
} 

.post-author { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 64px; 
    margin-right: 0; 
    padding: 40px 40px 32px; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    border: 1px solid #e1e6ee; 
    border-radius: 10px;
} 

.text-block-11 { 
    color: #636b98;
} 

.text-block-10 { 
    color: #636b98;
} 

.text-block-12 { 
    color: #636b98;
} 

.w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.post-card-author-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 32px; 
    margin-left: 4px; 
    padding-right: 12px; 
    padding-left: 4px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 16px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #596273; 
    text-decoration: none;
} 

.post-card-author-link:hover { 
    background-color: #f5f6f8; 
    color: #2c3340;
} 

.social-share-button { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    overflow: hidden; 
    width: 40px; 
    height: 40px; 
    margin-top: 20px; 
    font-family: 'Times New Roman',TimesNewRoman,Times,Baskerville,Georgia,serif; 
    cursor: pointer; 
    -o-object-fit: fill; 
    object-fit: fill;
} 

.social-share-button:hover { 
    color: #6f23ff;
} 

.hidden { 
    display: none; 
    margin-left: 0;
} 

.post-photo { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-photo.hidden { 
    display: none;
} 

h3 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    color:  #636b98; 
    font-size:  21px; 
    line-height:  28px;
    font-family: 'Domine', sans-serif;
} 

.c-t-blue-2 { 
    color: #636c98;
} 

.toc { 
    width: 100%;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 

.post p  { 
    margin-bottom: 28px; 
    font-size: 18px; 
    line-height: 1.89;
} 

h2 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    font-size:  30px; 
    line-height:  40px;
    font-family: 'Domine', sans-serif;
} 

figure { 
    display:  block;
    margin: 0 0 24px;
} 

.w-richtext figure  { 
    position: relative; 
    max-width: 60%;
} 

.w-richtext figure.w-richtext-figure-type-image  { 
    display: table;
} 

.w-richtext figure.w-richtext-align-floatleft  { 
    float: left; 
    margin-right: 15px; 
    clear: none;
} 

.w-richtext figure.w-richtext-align-floatright  { 
    float: right; 
    margin-left: 15px; 
    clear: none;
} 

.w-button { 
    display: inline-block; 
    padding: 9px 15px; 
    background-color: #3898ec; 
    color: #fff; 
    border: 0; 
    line-height: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 0;
} 

.orig_button_blog_content { 
    padding-top: 14px; 
    padding-bottom: 12px; 
    background-color: #6f23ff; 
    font-size: 22px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 650px; 
    margin: 5px 15px 42px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 1.2em; 
    font-weight: 600; 
    text-align: center;
} 

.orig_button_blog_content:hover { 
    color: hsla(0,0%,100%,.5);
} 

.w-dyn-bind-empty { 
    display: none!important;
} 

.orig_h3_blog_post { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_blog_post.white { 
    color: #fff;
} 

.s-m-t-30 { 
    margin-top: 30px;
} 

.w-layout-grid { 
    display: -ms-grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto; 
    grid-row-gap: 16px; 
    grid-column-gap: 16px;
} 

.apply-now-logo { 
    position: absolute; 
    left: 24px; 
    top: 18px; 
    grid-column-gap: 10px; 
    -ms-grid-columns: auto 1fr; 
    grid-template-columns: auto 1fr; 
    -ms-grid-rows: auto; 
    grid-template-rows: auto;
} 

.apply-now-group { 
    position: absolute; 
    right: 35px; 
    bottom: 25px;
} 

.orig_h3_faq { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_faq.white { 
    color: #fff;
} 

.w-form { 
    margin: 0 0 15px;
} 

.orig_subscribe_form { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 30px; 
    margin-right: auto; 
    margin-left: auto; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-author-avatar { 
    width: 104px; 
    height: 104px; 
    margin-right: 32px; 
    -webkit-box-flex: 0; 
    -webkit-flex: 0 0 auto; 
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto; 
    border-radius: 50%;
} 

.post-author-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.post-card-v1-avatar { 
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    border-radius: 50%;
} 

.text-block-13 { 
    color: #636b98;
} 

.social-share-code { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-embed:after,.w-embed:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-embed:after { 
    clear: both;
} 

.social-share-code:hover { 
    color: #6f23ff;
} 

.social-btn-icon { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
} 

ul { 
    margin-top: 16px; 
    margin-bottom: 24px; 
    padding-left: 40px;
} 

.toc ul  { 
    list-style-type: none; 
    padding-left: 0; 
    margin-top: 0;
} 

.rich-text-block a  { 
    color: #41d3bd; 
    line-height: 1.89; 
    text-decoration: none;
} 

.w-richtext figure div  { 
    font-size: 0px; 
    color: transparent;
} 

.w-richtext figure.w-richtext-figure-type-image > div  { 
    display: inline-block;
} 

.w-richtext figure > div:before  { 
    cursor: default!important;
} 

figcaption { 
    display:  block;
    margin-top: 22px; 
    color: #636c98; 
    font-size: 14px; 
    text-align: center;
} 

.w-richtext figure.w-richtext-figure-type-image > figcaption  { 
    display: table-caption; 
    caption-side: bottom;
} 

strong { 
    font-weight: 700;
} 

.flex-v { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.flex-v.ac { 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

#w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1;
} 

#w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1; 
    -ms-grid-row-align: center; 
    align-self: center;
} 

.orig_subscribe_form_inner { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 56px; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #ddd;
} 

.success-message-2 { 
    border: 2px solid #636c98; 
    background-color: transparent;
} 

.w-form-fail { 
    display: none; 
    margin-top: 10px; 
    padding: 10px; 
    background-color: #ffdede;
} 

.heading-5 { 
    color: #3e396b;
} 

.text-grey { 
    color: #636c98; 
    line-height: 22px;
} 

.link-arrow { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #41d3bd; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: 700; 
    text-align: left; 
    text-decoration: none;
} 

.link-arrow.post-author-link { 
    margin-top: -8px;
} 

svg:not(:root) { 
    overflow: hidden;
} 

li { 
    font-size: 17px; 
    line-height: 1.94em;
} 

.w-richtext figure img  { 
    width: 100%;
} 

.orig_yellow_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 250px; 
    margin-top: 17px; 
    margin-bottom: 134px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

.orig_yellow_button.no_margin { 
    margin-top: 0; 
    margin-bottom: 0;
} 

.orig_yellow_button:hover { 
    opacity: 1; 
    color: rgba(62,62,62,.5);
} 

input { 
    color:  inherit; 
    font:  inherit; 
    margin:  0;
    line-height: normal;
} 

.w-input { 
    display: block; 
    width: 100%; 
    height: 38px; 
    padding: 8px 12px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #ccc;
} 

.orig_subscribe_input { 
    width: 280px; 
    height: 52px; 
    margin-top: 2px; 
    margin-right: 20px; 
    margin-bottom: 0; 
    border-radius: 4px;
} 

.orig_subscribe_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-width: 210px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

input.w-button { 
    -webkit-appearance: button;
} 

.orig_subscription_success_message { 
    line-height: 1.8em;
} 

.text-block-5 { 
    color: #41d3bd;
} 

.link-arrow-icon { 
    margin-top: 1px; 
    margin-left: 4px; 
    background-color: transparent;
} 

.toc-h2 a  { 
    color: #481ceb; 
    text-decoration: none;
} 



</style>
