<%= title('Blog') %>

<div class="wrapper side-paddings snipcss-G7WgM">
    <div class="post-info">
        <h1 class="post-heading">How Becoming a Software Developer Changed My Life: Grassroot Students</h1>
        <div class="post-info-bottom">
            <div class="text-block-11 w-hidden-tiny">Posted on&nbsp;</div>
            <div class="text-block-10 w-hidden-tiny">Feb 9, 2023</div>
            </a>
        </div>
        <br>
    </div>
    <div class="post">
        <div class="toc-wrapper">
            <h3 class="c-t-blue-2">Topics</h3>
            <div class="toc">
                <ul>
                    <li class="toc-h2"><a href="#toc-why-become-a-software-developer-">Why become a software developer?</a></li>
                    <li class="toc-h2"><a href="#toc-what-makes-a-career-in-software-development-different-from-other-non-tech-careers-">What makes a career in software development different from other non-tech careers?</a></li>
                    <li class="toc-h2 toc-active"><a href="#toc-can-Grassroot-help-you-land-a-job-in-tech-">Can Grassroot help you land a job in tech?</a></li>
                    <li class="toc-h2"><a href="#toc--can-Grassroot-prepare-you-for-a-role-in-one-of-the-world-s-top-technology-companies-">‍Can Grassroot prepare you for a role in one of the world's top technology companies?</a></li>
                    <li class="toc-h2"><a href="#toc-benefits-of-becoming-a-software-developer">Benefits of becoming a software developer</a></li>
                    <li class="toc-h2"><a href="#toc-how-much-can-you-make-as-a-software-developer-">How much can you make as a software developer?</a></li>
                    <li class="toc-h2"><a href="#toc-can-you-relocate-for-a-coding-job-">Can you relocate for a coding job?</a></li>
                    <li class="toc-h2"><a href="#toc-conclusion">Conclusion</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="rich-text-block h6 w-richtext">
            <p>Becoming a software developer changed my life and opened up a world of possibilities that I never knew existed.</p><span id="toc-why-become-a-software-developer-"></span>
            <h2>Why become a software developer?</h2>
            <p>Many software development opportunities offer flexible work schedules and are 100% remote. Take control of your time and participate in the activities in life that add the most value. Further, by mastering development skills you can increase your salary with each new position you land. Improve the quality of life for you and your family while gaining access to opportunities that may not have been available to you in the past.&nbsp;</p>
            <p>What do you look for in a job? Is it high earning potential? Is it flexible hours or the ability to work 100% remotely? Maybe you enjoy problem-solving or working in a collaborative environment to find solutions to challenges. Ask yourself; do you have strong soft skills such as time management, adaptability, excellent written and verbal communication, and professional conflict resolution skills? If you know that at least 80% of the above applies to you, you likely could excel in software development. Discover more great <a href="https://www.grassroot.org/blog/become-a-software-developer" target="_blank">reasons to become a software developer.</a>&nbsp;</p>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatleft">
                <div><img src="./images/63e2cfb5088cc6139c09c165_wUKrBlf8T6yax7yHV4_7xOTrIiAXhfe_VUBKx6mthQlcDcshZmTcJ15nlnMjwRDE1OvQbjiTRV73tk1OHBTlpV6ZV8fdHppQOeof6_4bOOd7UGgxB5jRzg6DQn_Jepr4O9mpziQnKVaD2RjZ69EPDgU.jpeg" alt=""></div>
                <figcaption><em>Photo by Photo by </em><a href="https://www.pexels.com/photo/man-sitting-cozy-while-working-on-his-laptop-3153203/" target="_blank"><em>Canva Studio</em></a><em> on Pexels.</em></figcaption>
            </figure><span id="toc-what-makes-a-career-in-software-development-different-from-other-non-tech-careers-"></span>
            <h2>What makes a career in software development different from other non-tech careers?</h2>
            <p>Prior to software development, I spent several years teaching English as a foreign language. Before that, I worked in finance for several years. These on-site jobs were results-oriented. This means that my measure of success was directly tied to achieving specific results. Mastering my work, in the beginning, required a large investment of time and resources.&nbsp;</p>
            <p>Over time, the range of skills needed to perform well narrowed, which I found bittersweet. It's great that I knew enough to get excellent results from my efforts. But it also meant that the relatively slow pace of learning new material made my daily job functions seem repetitive and a little too routine. I was missing the initial thrill of growth that fuelled my progress in those industries.</p>
            <p>What makes a career in software development different from the careers I have experienced? I found that instead of working to achieve specific outcomes – in finance, that was the bottom line, and in education, it is pass or fail – success as a software developer is a result of implementing best practices and techniques to achieve a desired outcome. </p>
            <p>Mastering these techniques and basic development skills is only the beginning. There is always a new concept, a new language, or a new tool to make the process more efficient. A software development career is a constant learning adventure. If you like puzzles, you'll love software development. It is a field full of amazing challenges requiring problem-solving and analytical thinking to drive innovation.</p>
            <p>Software development also allows for more flexibility in the way you work. When I worked on-site in finance and hybrid in traditional education, my time was directly tied to the institution's schedule. Software development allowed me to find a job where I could work 100% from home and set my own hours.</p>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatright">
                <div><img src="./images/63e2cfb524fadd2a3c3c3264_Etydc9VhyjwBirF2fPoO-IGVsGNQ7eNUpH5xBbQktmJdLBb1QRkWtsHLPecvGMQ2Mhzc-ArYEq33FEq598ruAcnduxwnSu67erkNbta2K00rLIe9d7K9uqcFb5mjNXO8vlpn6ntF1cUzYk8XHT7jXoU.jpeg" alt=""></div>
                <figcaption><em>Photo by </em><a href="https://www.pexels.com/photo/woman-in-white-tank-top-using-macbook-air-on-brown-wooden-table-3766187/" target="_blank"><em>Andrea Piacquadio</em></a><em> from Pexels.</em></figcaption>
            </figure><span id="toc-can-Grassroot-help-you-land-a-job-in-tech-"></span>
            <h2>Can Grassroot help you land a job in tech?</h2>
            <p>Grassroot is an online school that teaches remote software development through pair programming and building real-world projects. <a href="https://www.grassroot.org/blog/why-is-Grassroot-different-5-unique-things-that-set-us-apart" target="_blank">Learn why Grassroot is different from other software development schools</a> and why it could be a fit for you. </p>
            <p>Grassroot has helped people from diverse backgrounds, levels of coding experience, and over 95 different countries find jobs as software developers.&nbsp;</p>
            <p>Grassroot alum Trésor Bireke, a former civil engineering student from the Democratic Republic of Congo, realized his <a href="https://www.grassroot.org/blog/Grassroot-alumni-journey-to-becoming-a-remote-software-developer#toc-life-after-Grassroot" target="_blank">realized his dream of becoming a software developer </a>through Grassroot. Trésor made the difficult decision to leave his university studies to pursue Grassroot full-time shortly after the outbreak of the pandemic. Working as a software developer has opened up a world of opportunities for Trésor, and he believes that choosing Grassroot was the best decision he ever made.</p>
            <p>Avijit Karmaker, a Grassroot alum from Bangladesh, transitioned from a Finance and Accounting career path into programming. Avijit totally changed in his life after completing the Grassroot program. He is currently employed as a software developer at a company in Finland, Miltton Oy. Overcoming challenges and finding solutions are skills that Avijitt learned from his studies at Grassroot and are essential skills for all software developers. See how Avijitt <a href="https://www.grassroot.org/blog/learning-to-become-a-software-developer-on-his-own-avijits-journey#toc-a-change-in-perspective" target="_blank">achieved his web development dreams</a> by becoming a software developer at a top company in Finland.</p><span id="toc--can-Grassroot-prepare-you-for-a-role-in-one-of-the-world-s-top-technology-companies-"></span>
            <h2>‍<strong>Can Grassroot prepare you for a role in one of the world's top technology companies?</strong></h2>
            <p>Grassroot alum Kevin Mwangi, from Nairobi, Kenya, has proven that Grassroot provides the necessary tools to equip students for jobs at top companies. Now employed by a global technology company Microsoft, Kevin attributes his familiarity with the types of questions asked during Microsoft interviews to the practice he gained at Grassroot.&nbsp;</p>
            <p>From excelling in the technical interview to determining if a company is the best fit for you during the interview process, Kevin shares <a href="https://www.grassroot.org/blog/a-career-with-microsoft-how-Grassroot-helped-pave-the-way" target="_blank">how Grassroot prepared him</a> to handle these interactions with confidence to ultimately land his dream job.</p><span id="toc-benefits-of-becoming-a-software-developer"></span>
            <h2>Benefits of becoming a software developer</h2>
            <p>Software development has changed my life by giving me tools I never knew I needed. A key skill I gained from software development is a process-oriented approach to decision-making. I can now look at situations in their entirety and think of every possible scenario that will affect the outcome. Then I implement achievable steps to ensure that a low-risk decision is made.</p>
            <p>Grassroot alum <a href="https://www.grassroot.org/blog/from-Grassroot-student-to-full-stack-remote-developer-how-abdellani-did-it#toc-the-most-impactful-part-of-Grassroot-">Mohamed Abdellani is a full-stack developer employed by HackerBay</a>, a US-based company. One of the key benefits of being a developer for Mohamed is the ability to work remotely for an interesting company from his home in Algeria. He loves the freedom he has to organize his time and life, aspects that his previous on-site job did not allow him.</p>
            <p>For me, the best part of being a software developer is working with and supporting others. This helped me the most when I started learning software development. You have accountability and can benefit from the experience of those who have excelled in other areas than you. Learn how coding with Grassroot can be <a href="https://www.grassroot.org/blog/learning-to-code-Grassroot-vs-self-study" target="_blank">Grassroot can be better than learning to code on your own</a>.</p>
            <p>With most businesses requiring an online presence to meet the demands of an increasingly technologically driven world, software development skills are likely to remain in demand. This also means that getting paid as a software developer can be very lucrative. <a href="https://www.grassroot.org/blog/is-Grassroot-worth-it" target="_blank">Grassroot alums worldwide shared how web development has changed their lives</a>.</p><span id="toc-how-much-can-you-make-as-a-software-developer-"></span>
            <h2>How much can you make as a software developer?</h2>
            <p>Salaries in tech are often high enough to support a comfortable life for you and your family. This depends on many factors, such as your previous experience, location, and job position, but even <a href="https://www.grassroot.org/blog/starting-salary-in-software-development-around-the-world-2022" target="_blank">starting salaries for software developers</a> can be life-changing.</p>
            <p>It is also worth noting that even after you receive an initial offer, you can negotiate to get a package that better suits your individual needs. Grassroot helps prepare you for these important negotiations and gives you the tools you need to stand out from the crowd to get paid what you deserve.&nbsp;</p>
            <p>Grassroot alum Gabriella Cruz Olivera, who works remotely for a Colombia-based company, is thrilled to be earning a salary that is more than 5x her previous salary. <a href="https://www.grassroot.org/blog/join-the-global-job-market-as-a-web-developer#toc-how-gabriela-s-life-has-changed-since-starting-Grassroot" target="_blank">Read how Grassroot helped her achieve her goals</a>.</p>
            <p>Even if you have never worked in technology and have zero coding skills, you can become a software developer.&nbsp;</p>
            <p>Abhigyan Mahanta was a manual test engineer with a background in civil engineering who began looking for more flexible ways to manage his time. To do this, Abhigyan started freelancing and soon discovered <a href="http://Grassroot.org">Grassroot</a>. After <a href="https://www.grassroot.org/blog/Grassroot-success-story-abhigyan" target="_blank">completing the Grassroot program</a>, Abhigyan began earning a higher income as a junior full-stack developer. He now enjoys the flexibility of 100% remote work and a salary that provides more opportunities for him and his family.</p><span id="toc-can-you-relocate-for-a-coding-job-"></span>
            <h2>Can you relocate for a coding job?</h2>
            <p>Grassroot alum Jaak Kivinukk is a software developer who works for an international tech company in the Netherlands, MediaMonks. Jack relocated to the Netherlands from Estonia, for his job. Through Grassroot, Jaak<a href="https://www.grassroot.org/blog/how-this-Grassroot-alumni-landed-his-international-dream-job#toc-realizing-his-career"> built interview-worthy projects and landed his first job in tech</a>. For Jaak, MediaMonks was helpful in his relocation from Estonia and continued to support him as he learned while on the job.&nbsp;</p>
            <p>Software development opens many options for the way we work, and relocation is one of them.</p><span id="toc-conclusion"></span>
            <h2>Conclusion</h2>
            <p>Software development can truly unite people from diverse backgrounds as you need to work with others to excel in the world of software development. In this exciting field, change is guaranteed. The advancement of society requires new ways of interacting with each other within a digital world and designing interfaces for this digital world is what software development is all about.</p>
            <p>Lifelong learning is directly linked to success in software development. Staying on top of technical concepts, industry standards, and best practices creates a strong foundation for innovative, lasting contributions that improve lives.</p>
            <p>Software development is also a challenge. There will be times when problems arise that you have never faced before. Finding new ways to solve these problems also leads to solutions that meet the needs of many people. This makes software development skills valuable and financially rewarding. The faster and more efficiently a problem is solved, the greater the value of the solution. As you grow in your development career, your salary will increase with each position you land.</p>
            <p>Finally, solving problems with your peers, whether they are small challenges, or the world's biggest, is achievable with software development. Through software development you have the ability to change your life outcomes and directly impact others lives.</p>
            <p>So, what are you waiting for? Change your life now; <a href="https://www.grassroot.org/" target="_blank"><strong>become a software developer</strong></a><strong>.</strong></p>
        </div>
        <div class="blog-button-container"><a href="#" class="orig_button_blog_content orig_button_blog_content orig_button_blog_content w-condition-invisible w-dyn-bind-empty w-button"></a><a href="#" class="orig_button_blog_content orig_button_blog_content orig_button_blog_content w-condition-invisible w-dyn-bind-empty w-button"></a></div>
        <div class="rich-text-block w-condition-invisible w-dyn-bind-empty w-richtext"></div>
        <div class="sign_in_wrapper-posts relative w-condition-invisible">
            <div class="orig_h3_blog_post white w-dyn-bind-empty"></div>
            <div class="s-m-t-30 sh-m-t-60">
                <div class="flex-v ac"><a href="https://apply.Grassroot.org/?utm_source=blog%20footer&amp;utm_medium=banner&amp;utm_campaign=newblogbar" target="_blank" class="orig_yellow_button no_margin w-button">APPLY NOW</a><a href="/" target="_blank" class="orig_yellow_button no_margin w-condition-invisible w-button">LEARN MORE</a><a href="https://apply.Grassroot.org/?utm_source=blog%20footer&amp;utm_medium=banner&amp;utm_campaign=newblogbar" target="_blank" class="orig_yellow_button no_margin w-condition-invisible w-button">LEARN MORE</a></div>
            </div>
            <div class="w-layout-grid apply-now-logo"><img src="./images/5e1d85ec2cfebf729152734b_Grassroot-logo-modified.png" loading="lazy" height="" width="25" id="w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36" alt="Grassroot icon"><img src="./images/5e20b97ff5306168a8350b62_Grassroot-logo-338w.webp" loading="lazy" id="w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36" height="12" alt="Grassroot logo"></div><img src="./images/5dc34c1a51595ba4c9a535b4_group_19.svg" loading="lazy" alt="Group" class="apply-now-group">
        </div>
        <div class="sign_in_wrapper s-m-y-30 w-condition-invisible">
            <div class="orig_h3_faq white">Subscribe to our Employer Newsletter to get remote team management tips to your inbox!</div>
            <div id="mce-EMAIL" class="orig_subscribe_form w-form">
                <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" action="https://Grassroot.us18.list-manage.com/subscribe/post?u=34b2016a22b7d20dc70a7e92c&amp;amp;id=47e5a5aa57" method="post" class="orig_subscribe_form_inner" aria-label="Email Form"><input type="email" class="orig_subscribe_input w-input" maxlength="256" name="EMAIL-3" data-name="EMAIL 3" placeholder="Email Address" id="EMAIL-3" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." id="mc-embedded-subscribe" class="orig_subscribe_button w-button"></form>
                <div class="success-message-2 w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
                    <div class="orig_subscription_success_message">Thank you!<br>Your subscription to our list has been confirmed!</div>
                </div>
                <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div>
       
    </div>

    <br><br>
</div>



<style>

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"); 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.section { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 50px 40px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: #fff;
} 

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 
 

.wrapper { 
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.wrapper.side-paddings { 
    padding-right: 15px; 
    padding-left: 15px;
} 

.post-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.post { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    padding-right: 16.66%; 
    padding-left: 16.66%; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    font-size: 14px; 
    line-height: 18px;
} 

a { 
    background-color: transparent; 
    text-decoration: underline;
} 

.badge { 
    display: inline-block; 
    padding: 6px 8px 6px 9px; 
    border-radius: 5px; 
    background-color: #2583fd; 
    color: #fff; 
    font-size: 8px; 
    line-height: 12px; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-decoration: none; 
    text-transform: uppercase;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    opacity: .5;
} 

h1 { 
    margin:    .67em 0;
    font-weight:   700; 
    margin-bottom:   24px; 
    margin-top:  0; 
    font-size:  44px; 
    line-height:  56px;
    font-family: 'Domine', sans-serif;
} 

.post-heading { 
      max-width: 700px;
    margin-top: 4rem; 
    font-size: 2.5rem;
    color: #3e396b;
} 

.post-info-bottom { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-left: 12px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    color: #7a8292; 
    font-size: 12px; 
    line-height: 16px;
} 

.social-buttons-wrapper { 
    position: fixed; 
    left: 2%; 
    top: 0; 
    right: auto; 
    bottom: 0; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #a9b0be; 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase;
} 

img { 
    border: 0; 
    vertical-align: middle; 
    display: inline-block; 
    max-width: 100%;
} 

.post-image-modif { 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.post-image-mob { 
    display: none; 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.toc-wrapper { 
    margin-bottom: 50px; 
    padding: 32px 32px 10px; 
    border: 1px solid #3e396b;
} 

.rich-text-block { 
    color: #636b98; 
    line-height: 34px;
} 

.w-richtext:after,.w-richtext:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-richtext:after { 
    clear: both;
} 

.blog-button-container { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: -15px; 
    margin-left: -15px; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #fff;
} 

.w-condition-invisible,.w-dyn-bind-empty { 
    display: none!important;
} 

.w-condition-invisible { 
    display: none!important;
} 

.relative { 
    position: relative;
} 

.sign_in_wrapper-posts { 
    padding: 70px 13% 50px; 
    background-color: #6f23ff;
} 

.sign_in_wrapper { 
    padding-top: 70px; 
    padding-bottom: 70px; 
    background-color: #6f23ff;
} 

.s-m-y-30 { 
    margin-top: 30px; 
    margin-bottom: 30px;
} 

.post-author { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 64px; 
    margin-right: 0; 
    padding: 40px 40px 32px; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    border: 1px solid #e1e6ee; 
    border-radius: 10px;
} 

.text-block-11 { 
    color: #636b98;
} 

.text-block-10 { 
    color: #636b98;
} 

.text-block-12 { 
    color: #636b98;
} 

.w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.post-card-author-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 32px; 
    margin-left: 4px; 
    padding-right: 12px; 
    padding-left: 4px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 16px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #596273; 
    text-decoration: none;
} 

.post-card-author-link:hover { 
    background-color: #f5f6f8; 
    color: #2c3340;
} 

.social-share-button { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    overflow: hidden; 
    width: 40px; 
    height: 40px; 
    margin-top: 20px; 
    font-family: 'Times New Roman',TimesNewRoman,Times,Baskerville,Georgia,serif; 
    cursor: pointer; 
    -o-object-fit: fill; 
    object-fit: fill;
} 

.social-share-button:hover { 
    color: #6f23ff;
} 

.hidden { 
    display: none; 
    margin-left: 0;
} 

.post-photo { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-photo.hidden { 
    display: none;
} 

h3 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    color:  #636b98; 
    font-size:  21px; 
    line-height:  28px;
    font-family: 'Domine', sans-serif;
} 

.c-t-blue-2 { 
    color: #636c98;
} 

.toc { 
    width: 100%;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 

.post p  { 
    margin-bottom: 28px; 
    font-size: 18px; 
    line-height: 1.89;
} 

h2 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    font-size:  30px; 
    line-height:  40px;
    font-family: 'Domine', sans-serif;
} 

figure { 
    display:  block;
    margin: 0 0 24px;
} 

.w-richtext figure  { 
    position: relative; 
    max-width: 60%;
} 

.w-richtext figure.w-richtext-figure-type-image  { 
    display: table;
} 

.w-richtext figure.w-richtext-align-floatleft  { 
    float: left; 
    margin-right: 15px; 
    clear: none;
} 

.w-richtext figure.w-richtext-align-floatright  { 
    float: right; 
    margin-left: 15px; 
    clear: none;
} 

.w-button { 
    display: inline-block; 
    padding: 9px 15px; 
    background-color: #3898ec; 
    color: #fff; 
    border: 0; 
    line-height: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 0;
} 

.orig_button_blog_content { 
    padding-top: 14px; 
    padding-bottom: 12px; 
    background-color: #6f23ff; 
    font-size: 22px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 650px; 
    margin: 5px 15px 42px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 1.2em; 
    font-weight: 600; 
    text-align: center;
} 

.orig_button_blog_content:hover { 
    color: hsla(0,0%,100%,.5);
} 

.w-dyn-bind-empty { 
    display: none!important;
} 

.orig_h3_blog_post { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_blog_post.white { 
    color: #fff;
} 

.s-m-t-30 { 
    margin-top: 30px;
} 

.w-layout-grid { 
    display: -ms-grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto; 
    grid-row-gap: 16px; 
    grid-column-gap: 16px;
} 

.apply-now-logo { 
    position: absolute; 
    left: 24px; 
    top: 18px; 
    grid-column-gap: 10px; 
    -ms-grid-columns: auto 1fr; 
    grid-template-columns: auto 1fr; 
    -ms-grid-rows: auto; 
    grid-template-rows: auto;
} 

.apply-now-group { 
    position: absolute; 
    right: 35px; 
    bottom: 25px;
} 

.orig_h3_faq { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_faq.white { 
    color: #fff;
} 

.w-form { 
    margin: 0 0 15px;
} 

.orig_subscribe_form { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 30px; 
    margin-right: auto; 
    margin-left: auto; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-author-avatar { 
    width: 104px; 
    height: 104px; 
    margin-right: 32px; 
    -webkit-box-flex: 0; 
    -webkit-flex: 0 0 auto; 
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto; 
    border-radius: 50%;
} 

.post-author-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.post-card-v1-avatar { 
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    border-radius: 50%;
} 

.text-block-13 { 
    color: #636b98;
} 

.social-share-code { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-embed:after,.w-embed:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-embed:after { 
    clear: both;
} 

.social-share-code:hover { 
    color: #6f23ff;
} 

.social-btn-icon { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
} 

ul { 
    margin-top: 16px; 
    margin-bottom: 24px; 
    padding-left: 40px;
} 

.toc ul  { 
    list-style-type: none; 
    padding-left: 0; 
    margin-top: 0;
} 

.rich-text-block a  { 
    color: #41d3bd; 
    line-height: 1.89; 
    text-decoration: none;
} 

.w-richtext figure div  { 
    font-size: 0px; 
    color: transparent;
} 

.w-richtext figure.w-richtext-figure-type-image > div  { 
    display: inline-block;
} 

.w-richtext figure > div:before  { 
    cursor: default!important;
} 

figcaption { 
    display:  block;
    margin-top: 22px; 
    color: #636c98; 
    font-size: 14px; 
    text-align: center;
} 

.w-richtext figure.w-richtext-figure-type-image > figcaption  { 
    display: table-caption; 
    caption-side: bottom;
} 

strong { 
    font-weight: 700;
} 

.flex-v { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.flex-v.ac { 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

#w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1;
} 

#w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1; 
    -ms-grid-row-align: center; 
    align-self: center;
} 

.orig_subscribe_form_inner { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 56px; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #ddd;
} 

.success-message-2 { 
    border: 2px solid #636c98; 
    background-color: transparent;
} 

.w-form-fail { 
    display: none; 
    margin-top: 10px; 
    padding: 10px; 
    background-color: #ffdede;
} 

.heading-5 { 
    color: #3e396b;
} 

.text-grey { 
    color: #636c98; 
    line-height: 22px;
} 

.link-arrow { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #41d3bd; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: 700; 
    text-align: left; 
    text-decoration: none;
} 

.link-arrow.post-author-link { 
    margin-top: -8px;
} 

svg:not(:root) { 
    overflow: hidden;
} 

li { 
    font-size: 17px; 
    line-height: 1.94em;
} 

.w-richtext figure img  { 
    width: 100%;
} 

.orig_yellow_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 250px; 
    margin-top: 17px; 
    margin-bottom: 134px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

.orig_yellow_button.no_margin { 
    margin-top: 0; 
    margin-bottom: 0;
} 

.orig_yellow_button:hover { 
    opacity: 1; 
    color: rgba(62,62,62,.5);
} 

input { 
    color:  inherit; 
    font:  inherit; 
    margin:  0;
    line-height: normal;
} 

.w-input { 
    display: block; 
    width: 100%; 
    height: 38px; 
    padding: 8px 12px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #ccc;
} 

.orig_subscribe_input { 
    width: 280px; 
    height: 52px; 
    margin-top: 2px; 
    margin-right: 20px; 
    margin-bottom: 0; 
    border-radius: 4px;
} 

.orig_subscribe_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-width: 210px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

input.w-button { 
    -webkit-appearance: button;
} 

.orig_subscription_success_message { 
    line-height: 1.8em;
} 

.text-block-5 { 
    color: #41d3bd;
} 

.link-arrow-icon { 
    margin-top: 1px; 
    margin-left: 4px; 
    background-color: transparent;
} 

.toc-h2 a  { 
    color: #481ceb; 
    text-decoration: none;
} 



</style>