<%= title('Blog') %>


<div class="wrapper side-paddings snipcss-JvGWm">
    <div class="post-info">
        <h1 class="post-heading">Inspirational Women in Software Development: History of Computing</h1>
        <div class="post-info-bottom">
            <div class="text-block-11 w-hidden-tiny">Posted on&nbsp;</div>
            <div class="text-block-10 w-hidden-tiny">Mar 8, 2023</div>
            </a>
        </div>
        <%# <div class="social-buttons-wrapper">
            <div>Share</div>
            <div class="social-share-button twitter">
                <div class="social-share-code w-embed"><a onclick="window.open(this.href, 'twitter-share','width=580,height=296');return false;" href="http://twitter.com/share?url=https://www.grassroot.org/blog/inspirational-women-in-software-development&amp;text=Inspirational Women in Software Development: History of Computing&amp;via=https://twitter.com/meesenbrown" class="social-share-code"></a></div>
                <div class="social-btn-icon w-embed"><svg width="100%" height="100%" viewBox="0 0 448 448" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Shape</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon-twitter" fill="CurrentColor" fill-rule="nonzero">
                                <path d="M400,0 L48,0 C21.5,0 0,21.5 0,48 L0,400 C0,426.5 21.5,448 48,448 L400,448 C426.5,448 448,426.5 448,400 L448,48 C448,21.5 426.5,0 400,0 Z M351.1,158.8 C351.3,161.6 351.3,164.5 351.3,167.3 C351.3,254 285.3,353.9 164.7,353.9 C127.5,353.9 93,343.1 64,324.5 C69.3,325.1 74.4,325.3 79.8,325.3 C110.5,325.3 138.7,314.9 161.2,297.3 C132.4,296.7 108.2,277.8 99.9,251.8 C110,253.3 119.1,253.3 129.5,250.6 C99.5,244.5 77,218.1 77,186.2 L77,185.4 C85.7,190.3 95.9,193.3 106.6,193.7 C88.3284816,181.546367 77.3640739,161.044427 77.4,139.1 C77.4,126.9 80.6,115.7 86.3,106 C118.6,145.8 167.1,171.8 221.5,174.6 C212.2,130.1 245.5,94 285.5,94 C304.4,94 321.4,101.9 333.4,114.7 C348.2,111.9 362.4,106.4 375,98.9 C370.1,114.1 359.8,126.9 346.2,135 C359.4,133.6 372.2,129.9 384,124.8 C375.1,137.9 363.9,149.5 351.1,158.8 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg></div>
            </div>
            <div class="social-share-button">
                <div class="social-share-code w-embed"><a onclick="window.open(this.href, 'fb-share','width=580,height=296');return false;" href="https://www.facebook.com/sharer/sharer.php?u=https://www.grassroot.org/blog/inspirational-women-in-software-development" class="social-share-code"></a></div>
                <div class="social-btn-icon w-embed">
                    <svg width="100%" height="100%" viewBox="0 0 448 448" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>icon-facebook</title>
                        <desc>Created with Sketch.</desc>
                        <defs></defs>
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="icon-facebook" fill="CurrentColor" fill-rule="nonzero">
                                <path d="M448,48 L448,400 C448,426.5 426.5,448 400,448 L314.7,448 L314.7,270.8 L375.3,270.8 L384,203.2 L314.7,203.2 L314.7,160 C314.7,140.4 320.1,127.1 348.2,127.1 L384,127.1 L384,66.7 C377.8,65.9 356.6,64 331.8,64 C280.2,64 244.8,95.5 244.8,153.4 L244.8,203.3 L184,203.3 L184,270.9 L244.9,270.9 L244.9,448 L48,448 C21.5,448 0,426.5 0,400 L0,48 C0,21.5 21.5,0 48,0 L400,0 C426.5,0 448,21.5 448,48 Z" id="Shape"></path>
                            </g>
                        </g>
                    </svg>
                </div>
            </div>
            <div class="social-share-button linkedin">
                <div class="social-share-code w-embed"><a onclick="window.open(this.href, 'linkedin-share','width=580,height=296');return false;" class="social-share-code" href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.grassroot.org/blog/inspirational-women-in-software-development"></a></div>
                <div class="social-btn-icon w-embed"><svg height="100%" viewBox="0 0 512 512" width="100%" xmlns="http://www.w3.org/2000/svg" fill="CurrentColor">
                        <path d="m475.074219 0h-438.148438c-20.394531 0-36.925781 16.53125-36.925781 36.925781v438.148438c0 20.394531 16.53125 36.925781 36.925781 36.925781h438.148438c20.394531 0 36.925781-16.53125 36.925781-36.925781v-438.148438c0-20.394531-16.53125-36.925781-36.925781-36.925781zm-293.464844 387h-62.347656v-187.574219h62.347656zm-31.171875-213.1875h-.40625c-20.921875 0-34.453125-14.402344-34.453125-32.402344 0-18.40625 13.945313-32.410156 35.273437-32.410156 21.328126 0 34.453126 14.003906 34.859376 32.410156 0 18-13.53125 32.402344-35.273438 32.402344zm255.984375 213.1875h-62.339844v-100.347656c0-25.21875-9.027343-42.417969-31.585937-42.417969-17.222656 0-27.480469 11.601563-31.988282 22.800781-1.648437 4.007813-2.050781 9.609375-2.050781 15.214844v104.75h-62.34375s.816407-169.976562 0-187.574219h62.34375v26.558594c8.285157-12.78125 23.109375-30.960937 56.1875-30.960937 41.019531 0 71.777344 26.808593 71.777344 84.421874zm0 0"></path>
                    </svg></div>
            </div>
            <div class="post-photo hidden"></div>
        </div> %>
    </div>

    <br>

    <div class="post">
        <div class="toc-wrapper">
            <h3 class="c-t-blue-2">Topics</h3>
            <div class="toc">
                <ul>
                    <li class="toc-h2"><a href="#toc-women-in-the-history-of-software-engineering">Women in the History of Software Engineering</a></li>
                    <li class="toc-h3"><a href="#toc-notable-women-in-computing-history-">Notable Women in Computing History:</a></li>
                    <li class="toc-h2 toc-active"><a href="#toc-notable-women-in-software-development-today-">Notable Women in Software Development Today:</a></li>
                    <li class="toc-h2"><a href="#toc-women-finding-their-inspiration-to-become-a-software-developer">Women Finding Their Inspiration to Become a Software Developer</a></li>
                    <li class="toc-h2"><a href="#toc-best-part-of-being-a-software-developer">Best Part of Being a Software Developer</a></li>
                    <li class="toc-h2"><a href="#toc-advice-for-aspiring-female-software-developers">Advice for Aspiring Female Software Developers</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="post">
        <div class="rich-text-block h6 w-richtext">
            <p>International Women’s Day is recognized globally each year on March 8th. IWD is a day to celebrate the social, economic, cultural, and political achievements of women everywhere. One of the ways we at Grassroot recognize this important day is by reflecting on the history of women in software development and highlighting some of our amazing female students, and their journey's to software development.<br></p><span id="toc-women-in-the-history-of-software-engineering"></span>
            <h2><strong>Women in the History of Software Engineering</strong><br></h2>
            <p>Women have been pioneers in the computing world. They have recognizable achievements such as; acting as ‘human computers’ during the wars, creating new computer languages and algorithms, helping with safe space travel, and helping put the first human on the moon.&nbsp;<br></p><span id="toc-notable-women-in-computing-history-"></span>
            <h3><strong>Notable Women in Computing History:</strong></h3>
            <h4><br></h4>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatleft" style="max-width:15%">
                <div><img src="./images/60464a2146b14c3b35d5fd9a_Ada_Lovelace_portrait.jpg" loading="lazy" alt="Ada Lovelace first computer programmer"></div>
            </figure>
            <ul role="list">
                <li><strong>1843: Ada Lovelace</strong> is widely regarded as the first computer programmer, as she wrote the first machine algorithm for an early computing machine (that didn’t yet exist). <a href="https://www.mentalfloss.com/article/53131/ada-lovelace-first-computer-programmer" target="_blank"><em>Source</em></a></li>
            </ul>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatright" style="max-width:15%">
                <div><img src="./images/60464a51a41e5e2b4129dbc3_Hedy_Lamarr_in_The_Heavenly_Body_1944.jpg" loading="lazy" alt="Hedy Lamarr invented the frequency-hopping technology"></div>
            </figure>
            <ul role="list">
                <li><strong>1942: Hedy Lamarr</strong> invented the frequency-hopping technology, during World War II, which later allowed for the invention of wireless signals like Wi-Fi and Bluetooth. <a href="https://www.theguardian.com/theguardian/shortcuts/2011/dec/04/hedy-lamarr-wifi" target="_blank"><em>Source</em></a></li>
            </ul>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatleft" style="max-width:15%">
                <div><img src="./images/60464a66089494db5a948e3c_jean-20bartik.jpg" loading="lazy" alt="Inspirational Women in Software Development"></div>
            </figure>
            <ul role="list">
                <li><strong>1945: Jean Bartik</strong> and five other women developed and codified many of the foundations of software programming while working on ENIAC. <a href="https://en.wikipedia.org/wiki/Jean_Bartik" target="_blank"><em>Source</em></a></li>
            </ul>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatright" style="max-width:15%">
                <div><img src="./images/60464a7fd8e0aa4ed7beeff4_grace-20hiooer.jpg" loading="lazy" alt="Rear Admiral Grace Hopper"></div>
            </figure>
            <ul role="list">
                <li><strong>1952</strong>: <strong>Rear Admiral Grace Hopper</strong> created one of the world’s first compilers and her programming language design work led to the creation of COBOL, which is used to this day.<em> </em><a href="https://www.bbc.com/news/business-38677721"><em>Source</em></a></li>
            </ul>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatleft" style="max-width:15%">
                <div><img src="./images/60464a97dc183dc0d7db5d3a_katherine-johnson-1983-512x640.jpg" loading="lazy" alt="Inspirational Women in Software Development: History of Computing"></div>
            </figure>
            <ul role="list">
                <li><strong>1950s: Katherine Johnson</strong> helped confirm the accuracy of computers used by NASA and performed critical calculations that ensured safe space travel. She had a 35-year career at NASA which recognized her "historical role as one of the first African-American women to work as a NASA scientist". <a href="https://en.wikipedia.org/wiki/Katherine_Johnson" target="_blank"><em>Source</em></a></li>
            </ul>
            <figure class="w-richtext-figure-type-image w-richtext-align-floatright">
                <div><img src="./images/624fdc9ca554298347c49bb3_Inspirational-20Women-20in-20Software-20Development.jpg" loading="lazy" alt="Margaret Hamilton"></div>
            </figure>
            <ul role="list">
                <li><strong>1969: Margaret Hamilton </strong>developed the onboard guidance software for Apollo 11 which was essential to its successful moon landing. Without this software, computers would not exist. <a href="https://en.wikipedia.org/wiki/Margaret_Hamilton_(software_engineer)" target="_blank"><em>Source</em></a><br></li>
            </ul>
            <p>...and there are many more. Women play a key role in computing, now, and in the early days, but as we’ve mentioned, <a href="https://www.grassroot.org/blog/10-female-software-developers-share-their-advice" target="_blank">women only represent 27.5% of software developers globally</a> <em>(Source: </em><a href="https://evansdata.com/press/viewRelease.php?pressID=253" target="_blank"><em>Evans Data Corporation</em></a><em>)</em>. </p><span id="toc-notable-women-in-software-development-today-"></span>
            <h2>Notable Women in Software Development Today:</h2>
            <ul role="list">
                <li><a href="https://reshmasaujani.com/about/" target="_blank">Reshma Saujani,</a> the founder of Girls Who Code, a non-profit organization dedicated to closing the gender gap in technology and engineering fields.</li>
                <li><a href="https://en.wikipedia.org/wiki/Tracy_Chou" target="_blank">Tracy Chou</a>, a software engineer and diversity advocate who has worked at companies like Pinterest and the US Digital Service</li>
                <li><a href="https://en.wikipedia.org/wiki/Erica_Baker" target="_blank">Erica Baker,</a> a senior engineering manager at Microsoft and a vocal advocate for diversity and inclusion in the tech industry</li>
                <li><a href="https://hadiyah.me/" target="_blank">Hadiyah Mujhid,</a> the founder and CEO of HBCUvc, a non-profit organization that supports Black and Latinx entrepreneurs and investors in the tech industry</li>
            </ul>
            <p>These women, and many, many others, are helping pave the way for a more diverse and inclusive software development industry. By sharing their stories, we can inspire the next generation of female developers and help encourage more women to pursue careers in technology.</p>
            <p>At Grassroot, we’re focused on <a href="https://www.grassroot.org/blog/inspirational-women-in-software-development" target="_blank">helping more women</a> and non-binary people reach their dreams of becoming software developers.&nbsp;So, we asked some of our students to share their stories to highlight them, and help inspire others who are thinking of becoming software developers. They shared who, or what, inspired them to start their development career, what they love about being a software developer, and some great advice for aspiring developers.&nbsp;<br></p><span id="toc-women-finding-their-inspiration-to-become-a-software-developer"></span>
            <h2><strong>Women Finding Their Inspiration to Become a Software Developer</strong></h2>
            <p>The inspiration for becoming a developer can be found in many different places, from our household environments, to school, work, or even simply interacting with computers regularly.<br></p>
            <p>One of our students from Nigeria, Taiwo Coker, shared that she was inspired to explore software development by using the UBER app while working as an Uber driver. </p>
            <blockquote>“I was interested in learning how to build apps that will solve problems for people.”<br></blockquote>
            <p>For Mily Puente of Mexico, her inspiration also came from her work. “<em>I worked as an IT recruiter for almost 6 years, and after a good thinking process I decided to change careers to try this.</em>”<br></p>
            <p>Multiple students mentioned the role that family members played in inspiring them to become a software developer. <a href="https://www.grassroot.org/blog/how-ceci-made-the-career-change-to-software-development">Cecilia Benitez</a> of Paraguay said her father inspired her to become a software developer, and Ana Paula Hübner of Brazil also said it was a parent that had inspired her. For Amita Roy of India, her husband inspired her to become a software developer.&nbsp;<br></p>
            <p>Another student, <a href="https://www.grassroot.org/student-stories/lamia-sristy">Lamia Sristy</a> of The Netherlands, noted that, “<em>The day I got my personal computer, I got to know everything inside running software, and decided I would be pursuing a career in the software industry</em>.”<br></p>
            <p>Another common theme was students being inspired by passionate teachers. Cinthia Villalejos, a Grassroot alum from Mexico said;&nbsp;<br></p>
            <blockquote>“I didn't have a lot of examples growing up, but at college, I came across a very passionate teacher who absolutely loved computer science. You were drawn to every word he said, even if you weren't particularly fond of science. I was majoring in something else at the time but the drive he had pushed me to dip bit by bit into computers and programming. He was the first one to make me think that I could do this, and I strive everyday to perfect my craft with the level of enthusiasm he has.”&nbsp;<br></blockquote>
            <p>Peris Ndanu of Kenya noted, “<em>My high school computer teacher spiked my interest in technology. It was a fairly newly taught subject but his passion drove me to explore more on it. After high school I joined Andela bootcamp where I wrote my first ‘Hello world’ program. I was completely blown away that I could create anything I wanted, as long as I set my mind to it. From there, I began my journey into software development.”</em><br></p>
            <p>We were also delighted to see that for one of our students, Rose Sumba Zawadi of Kenya, Grassroot played a role in inspiring her to become a developer. </p>
            <blockquote>“I was inspired by Grassroot, the diversity it upholds and the materials they provide are very, very reliable.”<br></blockquote><span id="toc-best-part-of-being-a-software-developer"></span>
            <h2><strong>Best Part of Being a Software Developer</strong></h2>
            <p>For many of our students, learning and creating projects and software that can change lives is a key part of what makes their journey as a software developer so great.&nbsp;<br></p>
            <p>Ceci, Cinthia and Rose all echoed this, stating that learning and solving problems was a key source of enjoyment. Rose said, <em>“Choosing this path is the best decision I have ever made.”</em> Taiwo also shared that she loves having the ability to bring an idea to reality.<br></p>
            <p>On a similar note, Mily shared;</p>
            <blockquote> “I really like when you see the final outcome of a difficult project, and how everything starts making sense while you're learning. From the professional side, I think a career like this offers a huge improvement to your life, since it's in high demand and will continue to be because of the expansion of technology in almost every aspect of our lives.”<br></blockquote>
            <p>For Ana, working on the front-end brings her a lot of joy, while Lamia attributes her love of math and solving puzzles - where she developed analytical skills to solve logical problems - to being the most enjoyable part of programming for her.<br></p>
            <p>As for Peris, she said she loves networking. </p>
            <blockquote>“Software developers are the easiest and kindest people you will ever meet. Through Grassroot, I have extended my network globally and made friends in every part of the world. How cool is that!”<br></blockquote>
            <p>Amita also noted that learning something new is one of the most enjoyable parts for her, and that one of the best parts for her is being able to discuss issues or new technologies with her husband, a fellow software developer. </p>
            <p>‍<em>“Technology is a vast domain and so are the growth opportunities in this industry. The more time I spend on it, the more my understanding is increasing. Now I'm realizing that this is something I can do for a long time without any distractions.”</em></p><span id="toc-advice-for-aspiring-female-software-developers"></span>
            <h2><strong>Advice for Aspiring Female Software Developers</strong></h2>
            <p>The women were happy to share advice and tips to help other developers and encourage them to stay the course. Many of them noted how much potential and opportunity there is in the software industry.<br></p>
            <p><em>“Becoming a software developer is not a walk in the park but through your tenacity and hardwork, it becomes easier,”</em> Taiwo shared.</p>
            <p>While Cecilia’s advice was simple but powerful, “<em>Never give up”</em>, Ana advised, “<em>Keep the hard work and don't care about the amount of men in this industry, women are coders too!”</em><br></p>
            <p>Cinthia said, <em>“Sometimes the amount of new information can be a bit overwhelming because everything is in constant change in software development, but you don't have to learn all the things and certainly, not at once. Just learning and studying a small thing everyday can help you gradually build your knowledge into greater things.”</em>&nbsp;She added, </p>
            <blockquote>“Remember it's completely natural not to be good at something right away and that we're allowed to make mistakes. Sometimes we get caught up in the idea that if we're not good at something, then it's not for us. But the truth is that perseverance and consistency will make you good at every journey you decide to embark on.”<br></blockquote>
            <p>Amita’s advice was to not let the length of your career in one industry deter you from switching.<em> ”If you are willing to learn then you can start anytime. I have four years of experience in HR and now I’m on my way to becoming a software developer. Technology is a really interesting domain and you will never get bored with doing the same thing because there is always something new every day.”</em><br></p>
            <blockquote>“I would advise anybody who wants to have a career in software development to give it a go, no matter how hard or scary it seems to be.” said Peris. “It is a very exciting and innovative industry with a lot of opportunities to create products that can have a great impact on people’s lives.”<br></blockquote>
            <p>Lamia recommends, “<em>If any part of you loves to spend time thinking about solving complex problems, programming is your destination.</em>” </p>
            <p>Finally, Mily advised<em>, “Just try it. If you have been thinking about it for some time, it means that it's something you're curious about, and the best way to know if it's something that you like or not, is leaving your fears/doubts behind and just going for it.”</em><br></p>
            <p>We are inspired each and every day by our amazing students and their journeys, and we hope their stories and advice inspire you too. </p>
            <p>At Grassroot, we're committed to being an inclusive school and community, and to helping people around the world succeed as global software developers. With students from more than 110 countries, we're proud of the work our students do, and the supportive community they’ve helped us build but know there is always more work to do. </p>
            <p>We continue to do our best to support people of all genders, countries, cultures and religions and help them become world-class web developers. If you’re interested in learning more about becoming a software developer or Grassroot, get started below.<br></p>
            <p>Happy International Women’s Day!</p>
        </div>
        <%# <div class="sign_in_wrapper-posts relative">
            <div class="orig_h3_blog_post white">Ready to become a software developer and work remotely for global companies?</div>
            <div class="s-m-t-30 sh-m-t-60">
                <div class="flex-v ac"><a href="https://apply.Grassroot.org/?utm_source=blog%20footer&amp;utm_medium=banner&amp;utm_campaign=newblogbar" target="_blank" class="orig_yellow_button no_margin w-button">APPLY NOW</a><a href="/" target="_blank" class="orig_yellow_button no_margin w-condition-invisible w-button">LEARN MORE</a><a href="https://apply.Grassroot.org/?utm_source=blog%20footer&amp;utm_medium=banner&amp;utm_campaign=newblogbar" target="_blank" class="orig_yellow_button no_margin w-condition-invisible w-button">LEARN MORE</a></div>
            </div>
            <div class="w-layout-grid apply-now-logo"><img src="./images/5e1d85ec2cfebf729152734b_Grassroot-logo-modified.png" loading="lazy" height="" width="25" id="w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36" alt="Grassroot icon"><img src="./images/5e20b97ff5306168a8350b62_Grassroot-logo-338w.webp" loading="lazy" id="w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36" height="12" alt="Grassroot logo"></div><img src="./images/5dc34c1a51595ba4c9a535b4_group_19.svg" loading="lazy" alt="Group" class="apply-now-group">
        </div> %>
        <%# <div class="sign_in_wrapper s-m-y-30 w-condition-invisible">
            <div class="orig_h3_faq white">Subscribe to our Employer Newsletter to get remote team management tips to your inbox!</div>
            <div id="mce-EMAIL" class="orig_subscribe_form w-form">
                <form id="wf-form-Email-Form" name="wf-form-Email-Form" data-name="Email Form" action="https://Grassroot.us18.list-manage.com/subscribe/post?u=34b2016a22b7d20dc70a7e92c&amp;amp;id=47e5a5aa57" method="post" class="orig_subscribe_form_inner" aria-label="Email Form"><input type="email" class="orig_subscribe_input w-input" maxlength="256" name="EMAIL-3" data-name="EMAIL 3" placeholder="Email Address" id="EMAIL-3" required=""><input type="submit" value="Subscribe" data-wait="Please wait..." id="mc-embedded-subscribe" class="orig_subscribe_button w-button"></form>
                <div class="success-message-2 w-form-done" tabindex="-1" role="region" aria-label="Email Form success">
                    <div class="orig_subscription_success_message">Thank you!<br>Your subscription to our list has been confirmed!</div>
                </div>
                <div class="w-form-fail" tabindex="-1" role="region" aria-label="Email Form failure">
                    <div>Oops! Something went wrong while submitting the form.</div>
                </div>
            </div>
        </div> %>
        <%# <div class="post-author"><img src="./images/63370c5993ad8d716e149fba_meesen-brown-headshot.webp" loading="lazy" alt="" class="post-author-avatar"> %>
            <%# <div class="post-author-info">
                <h3 class="heading-5">Meesen Brown</h3>
                <p class="text-grey text-grey">Meesen is the Head of Marketing at Grassroot. She enjoys exploring ideas around the future of work and education, as well as, learning about sustainability.</p><a href="/blog-authors/meesen-brown" class="link-arrow post-author-link w-inline-block">
                    <div class="text-block-5">See All Posts </div><img src="./images/5dc12155f29bfc56c70461cc_arrow-blog.svg" alt="" class="link-arrow-icon">
                </a>
            </div> %>
        </div>

        <br><br>

    </div>
</div>



<style>
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,400,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"); 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.section { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 50px 40px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: #fff;
} 

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 


.wrapper { 
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.wrapper.side-paddings { 
    padding-right: 15px; 
    padding-left: 15px;
} 

.post-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.post { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    padding-right: 16.66%; 
    padding-left: 16.66%; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    font-size: 14px; 
    line-height: 18px;
} 

a { 
    background-color: transparent; 
    text-decoration: underline;
} 

.badge { 
    display: inline-block; 
    padding: 6px 8px 6px 9px; 
    border-radius: 5px; 
    background-color: #2583fd; 
    color: #fff; 
    font-size: 8px; 
    line-height: 12px; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-decoration: none; 
    text-transform: uppercase;
} 

a:active,a:hover { 
    outline: 0;
} 

a:hover { 
    opacity: .5;
} 

h1 { 
    margin:    .67em 0;
    font-weight:   700; 
    margin-bottom:   24px; 
    margin-top:  0; 
    font-size:  44px; 
    line-height:  56px;
    font-family: 'Domine', sans-serif;
} 

.post-heading { 
    max-width: 700px;
    margin-top: 4rem; 
    color: #3e396b;
} 

.post-info-bottom { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-left: 12px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    color: #7a8292; 
    font-size: 12px; 
    line-height: 16px;
} 

.social-buttons-wrapper { 
    position: fixed; 
    left: 2%; 
    top: 0; 
    right: auto; 
    bottom: 0; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #a9b0be; 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase;
} 

img { 
    border: 0; 
    vertical-align: middle; 
    display: inline-block; 
    max-width: 100%;
} 

.post-image-modif { 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.post-image-mob { 
    display: none; 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.toc-wrapper { 
    margin-bottom: 50px; 
    padding: 32px 32px 10px; 
    border: 1px solid #3e396b;
} 

.rich-text-block { 
    color: #636b98; 
    line-height: 34px;
} 

.w-richtext:after,.w-richtext:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-richtext:after { 
    clear: both;
} 

.blog-button-container { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: -15px; 
    margin-left: -15px; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #fff;
} 

.w-condition-invisible,.w-dyn-bind-empty { 
    display: none!important;
} 

.relative { 
    position: relative;
} 

.sign_in_wrapper-posts { 
    padding: 70px 13% 50px; 
    background-color: #6f23ff;
} 

.w-condition-invisible { 
    display: none!important;
} 

.sign_in_wrapper { 
    padding-top: 70px; 
    padding-bottom: 70px; 
    background-color: #6f23ff;
} 

.s-m-y-30 { 
    margin-top: 30px; 
    margin-bottom: 30px;
} 

.post-author { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 64px; 
    margin-right: 0; 
    padding: 40px 40px 32px; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    border: 1px solid #e1e6ee; 
    border-radius: 10px;
} 

.text-block-11 { 
    color: #636b98;
} 

.text-block-10 { 
    color: #636b98;
} 

.text-block-12 { 
    color: #636b98;
} 

.w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.post-card-author-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 32px; 
    margin-left: 4px; 
    padding-right: 12px; 
    padding-left: 4px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 16px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #596273; 
    text-decoration: none;
} 

.post-card-author-link:hover { 
    background-color: #f5f6f8; 
    color: #2c3340;
} 

.social-share-button { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    overflow: hidden; 
    width: 40px; 
    height: 40px; 
    margin-top: 20px; 
    font-family: 'Times New Roman',TimesNewRoman,Times,Baskerville,Georgia,serif; 
    cursor: pointer; 
    -o-object-fit: fill; 
    object-fit: fill;
} 

.social-share-button:hover { 
    color: #6f23ff;
} 

.hidden { 
    display: none; 
    margin-left: 0;
} 

.post-photo { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-photo.hidden { 
    display: none;
} 

h3 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    color:  #636b98; 
    font-size:  21px; 
    line-height:  28px;
    font-family: 'Domine', sans-serif;
} 

.c-t-blue-2 { 
    color: #636c98;
} 

.toc { 
    width: 100%;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 

.post p  { 
    margin-bottom: 28px; 
    font-size: 18px; 
    line-height: 1.89;
} 

h2 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    font-size:  30px; 
    line-height:  40px;
    font-family: 'Domine', sans-serif;
} 

h4 { 
    font-weight:  700; 
    margin-bottom:  16px; 
    margin-top: 0; 
    font-size: 17px; 
    line-height: 24px;
} 

figure { 
    display:  block;
    margin: 0 0 24px;
} 

.w-richtext figure  { 
    position: relative; 
    max-width: 60%;
} 

.w-richtext figure.w-richtext-figure-type-image  { 
    display: table;
} 

.w-richtext figure.w-richtext-align-floatleft  { 
    float: left; 
    margin-right: 15px; 
    clear: none;
} 

ul { 
    margin-top: 16px; 
    margin-bottom: 24px; 
    padding-left: 40px;
} 

.w-richtext ul  { 
    overflow: hidden;
} 

.w-richtext figure.w-richtext-align-floatright  { 
    float: right; 
    margin-left: 15px; 
    clear: none;
} 

blockquote { 
    margin: 0 0 24px; 
    padding: 16px 32px; 
    border-left: 3px solid #2583fd; 
    font-size: 20px; 
    line-height: 28px;
} 

.w-button { 
    display: inline-block; 
    padding: 9px 15px; 
    background-color: #3898ec; 
    color: #fff; 
    border: 0; 
    line-height: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 0;
} 

.orig_button_blog_content { 
    padding-top: 14px; 
    padding-bottom: 12px; 
    background-color: #6f23ff; 
    font-size: 22px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 650px; 
    margin: 5px 15px 42px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 1.2em; 
    font-weight: 600; 
    text-align: center;
} 

.orig_button_blog_content:hover { 
    color: hsla(0,0%,100%,.5);
} 

.orig_h3_blog_post { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_blog_post.white { 
    color: #fff;
} 

.s-m-t-30 { 
    margin-top: 30px;
} 

.w-layout-grid { 
    display: -ms-grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto; 
    grid-row-gap: 16px; 
    grid-column-gap: 16px;
} 

.apply-now-logo { 
    position: absolute; 
    left: 24px; 
    top: 18px; 
    grid-column-gap: 10px; 
    -ms-grid-columns: auto 1fr; 
    grid-template-columns: auto 1fr; 
    -ms-grid-rows: auto; 
    grid-template-rows: auto;
} 

.apply-now-group { 
    position: absolute; 
    right: 35px; 
    bottom: 25px;
} 

.orig_h3_faq { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_faq.white { 
    color: #fff;
} 

.w-form { 
    margin: 0 0 15px;
} 

.orig_subscribe_form { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 30px; 
    margin-right: auto; 
    margin-left: auto; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-author-avatar { 
    width: 104px; 
    height: 104px; 
    margin-right: 32px; 
    -webkit-box-flex: 0; 
    -webkit-flex: 0 0 auto; 
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto; 
    border-radius: 50%;
} 

.post-author-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.post-card-v1-avatar { 
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    border-radius: 50%;
} 

.text-block-13 { 
    color: #636b98;
} 

.social-share-code { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-embed:after,.w-embed:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-embed:after { 
    clear: both;
} 

.social-share-code:hover { 
    color: #6f23ff;
} 

.social-btn-icon { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
} 

.toc ul  { 
    list-style-type: none; 
    padding-left: 0; 
    margin-top: 0;
} 

strong { 
    font-weight: 700;
} 

.w-richtext figure div  { 
    font-size: 0px; 
    color: transparent;
} 

.w-richtext figure.w-richtext-figure-type-image > div  { 
    display: inline-block;
} 

.w-richtext figure > div:before  { 
    cursor: default!important;
} 

li { 
    font-size: 17px; 
    line-height: 1.94em;
} 

.rich-text-block a  { 
    color: #41d3bd; 
    line-height: 1.89; 
    text-decoration: none;
} 

.flex-v { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.flex-v.ac { 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

#w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1;
} 

#w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1; 
    -ms-grid-row-align: center; 
    align-self: center;
} 

.orig_subscribe_form_inner { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 56px; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #ddd;
} 

.success-message-2 { 
    border: 2px solid #636c98; 
    background-color: transparent;
} 

.w-form-fail { 
    display: none; 
    margin-top: 10px; 
    padding: 10px; 
    background-color: #ffdede;
} 

.heading-5 { 
    color: #3e396b;
} 

.text-grey { 
    color: #636c98; 
    line-height: 22px;
} 

.link-arrow { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #41d3bd; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: 700; 
    text-align: left; 
    text-decoration: none;
} 

.link-arrow.post-author-link { 
    margin-top: -8px;
} 

svg:not(:root) { 
    overflow: hidden;
} 

.w-richtext figure img  { 
    width: 100%;
} 

.orig_yellow_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 250px; 
    margin-top: 17px; 
    margin-bottom: 134px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

.orig_yellow_button.no_margin { 
    margin-top: 0; 
    margin-bottom: 0;
} 

.orig_yellow_button:hover { 
    opacity: 1; 
    color: rgba(62,62,62,.5);
} 

input { 
    color:  inherit; 
    font:  inherit; 
    margin:  0;
    line-height: normal;
} 

.w-input { 
    display: block; 
    width: 100%; 
    height: 38px; 
    padding: 8px 12px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #ccc;
} 

.orig_subscribe_input { 
    width: 280px; 
    height: 52px; 
    margin-top: 2px; 
    margin-right: 20px; 
    margin-bottom: 0; 
    border-radius: 4px;
} 

.orig_subscribe_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-width: 210px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

input.w-button { 
    -webkit-appearance: button;
} 

.orig_subscription_success_message { 
    line-height: 1.8em;
} 

.text-block-5 { 
    color: #41d3bd;
} 

.link-arrow-icon { 
    margin-top: 1px; 
    margin-left: 4px; 
    background-color: transparent;
} 

.toc-h2 a  { 
    color: #481ceb; 
    text-decoration: none;
} 

.toc-h3 a  { 
    color: #481ceb; 
    text-decoration: none;
} 




</style>