<%= title('Work Remotely and Build Your Career with Online Web Design and Programming Jobs') %>
<%= meta_description('Find your perfect online job in web design or programming and enjoy the freedom and flexibility of working remotely. Our online job opportunities are designed to match your skills and experience, helping you to take the next step in your career.') %>
<%= meta_keywords('online jobs, web designing jobs, remote programming jobs, Software Developer jobs, Full Stack developer jobs') %>


<div class="wrapper side-paddings snipcss-pooA8">
    <div class="post-info">
        <br><br>
        <h1 class="post-heading">Does Grassroot help me find a job?
Learn more about what Grassroot does, and does not do, during your job searching (and beyond!)</h1>
        <div class="post-info-bottom">
            <div class="text-block-11 w-hidden-tiny">Posted on&nbsp;</div>
            <div class="text-block-10 w-hidden-tiny">Mar 1, 2023</div>            
        </div>
        <br>
        <%= image_tag ("job2.jpg"), alt: 'Full Stack developer jobs' %>
        <br><br><br>
        
    </div>   
    <div class="post">
        <div class="rich-text-block h6 w-richtext">

<p>
Yes, we will do everything we can to help you find a job. However, we can't apply to, interview, or land jobs for you. You will need to do that work yourself.
</p>

<p>
Our help finding you a job starts from day 1. While you start on the technical curriculum to teach you how to code, you will also start learning the professional skills you need to succeed during your job search. By the end of your first month, you will start learning how to network your way to success. 
</p>

<p>
Once you finish the main technical curriculum, we will assign you a dedicated career coach who will be there every step of the way: from prepping your resume, portfolio, and online presence to interviewing practice to helping you with salary negotiation. 
</p>

<p>
Your career coach and the Career Services team will work with you on a number of things, including (but not limited to) the following:
</p>

<p>
Improve your online presence: We help you polish your resume, Github, AngelList, and LinkedIn profiles so you can get the attention of potential employers.
</p>

<p>
Portfolio: We help you create a personal portfolio of projects, open-source contributions, and other work you've done related to software development.
</p>

<p>
Interviewing: We will help you prepare for technical and behavioral questions, and help you do several mock interviews.
</p>

<p>
Applying to jobs: We will help you define your dream job, network to find potential employers, and consistently apply to new opportunities.
</p>

<p>
Staying fresh with your coding skills: We will propose ideas of cool side-projects that you can work on while applying to jobs so that you are constantly learning and improving on your coding skills, as well as learning content to help you work on open source and freelance projects.
</p>

<p>
However, it is important to keep in mind that there is no way we can find you a job if you don't contribute your effort to the process as well. We can help you find an opportunity, introduce you to a few companies, and help you get ready for the interviews, but, ultimately, you're the one who needs to apply, interview, and land that dream job.
</p>

<p>
How long does it take to get a job after participating in Grassroot? 
You'll start applying for jobs with our job search curriculum, and you'll continue working with your career coach after you graduate until you accept a job offer. 
</p>

<p>
Many students get jobs within weeks after starting to apply for them. However, it often takes several months. You need to be mentally and financially prepared for the challenge, but we will work with you for as long as it takes.
</p>

<p>
On average, we expect it to take 5 months to get your first job after completing the technical curriculum in full. Hopefully, your first job will be one that you're really passionate about, and that pays you what you're worth. The time it takes to land a good job is different for everyone, meaning it might take you less or more than 5 months - but you'll have the support of the entire Grassroot community while you search.
</p>

<p>
What kind of jobs could I get after participating in Grassroot? How much money could I make? 
Grassroot program primarily focuses on helping students learn Web Development and get higher-paying remote jobs, but your job outcome depends greatly on your individual preferences.
</p>
    </div>
</div>




<style>
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:400;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3htfqndSk.woff2) format('woff2');
  unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  font-display:swap;
} 
@font-face { 
  font-family:'Domine';
  font-style:normal;
  font-weight:700;
  src:url(./fonts/L0x8DFMnlVwD4h3hu_qn.woff2) format('woff2');
  unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  font-display:swap;
} 
* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.post-info img {
    border-radius: 10px;
}

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 

.wrapper { 
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.wrapper.side-paddings { 
    padding-right: 15px; 
    padding-left: 15px;
} 

.post-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.post { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    padding-right: 16.66%; 
    padding-left: 16.66%; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    font-size: 14px; 
    line-height: 18px;
} 

a { 
    background-color: transparent; 
    text-decoration: underline;
} 

.badge { 
    display: inline-block; 
    padding: 6px 8px 6px 9px; 
    border-radius: 5px; 
    background-color: #2583fd; 
    color: #fff; 
    font-size: 8px; 
    line-height: 12px; 
    font-weight: 700; 
    letter-spacing: 1px; 
    text-decoration: none; 
    text-transform: uppercase;
} 

a:hover { 
    outline:  0;
    opacity: .5;
} 

a:active,a:hover { 
    outline: 0;
} 

h1 { 
    margin:    .67em 0;
    font-weight:   700; 
    margin-bottom:   24px; 
    margin-top:  0; 
    font-size:  44px; 
    line-height:  56px;
    font-family: 'Domine', sans-serif;
} 

.post-heading { 
    margin: 24px 7rem 44px 7rem;
    margin-top: 24px; 
    color: #3e396b;
} 

.post-info-bottom { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-left: 12px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    color: #7a8292; 
    font-size: 12px; 
    line-height: 16px;
} 

.social-buttons-wrapper { 
    position: fixed; 
    left: 2%; 
    top: 0; 
    right: auto; 
    bottom: 0; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #a9b0be; 
    font-size: 14px; 
    font-weight: 700; 
    text-transform: uppercase;
} 

img { 
    border: 0; 
    vertical-align: middle; 
    display: inline-block; 
    max-width: 100%;
} 

.post-image-modif { 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.post-image-mob { 
    display: none; 
    width: 1170px; 
    margin-top: 80px; 
    margin-bottom: 80px; 
    border-radius: 10px; 
    box-shadow: 0 12px 40px 0 rgba(89,98,115,.25); 
    -o-object-fit: cover; 
    object-fit: cover;
} 

.toc-wrapper { 
    margin-bottom: 50px; 
    padding: 32px 32px 10px; 
    border: 1px solid #3e396b;
} 

.rich-text-block { 
    color: #636b98; 
    line-height: 34px;
} 

.w-richtext:after,.w-richtext:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-richtext:after { 
    clear: both;
} 

.blog-button-container { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-right: -15px; 
    margin-left: -15px; 
    -webkit-box-pack: justify; 
    -webkit-justify-content: space-between; 
    -ms-flex-pack: justify; 
    justify-content: space-between; 
    color: #fff;
} 

.w-condition-invisible,.w-dyn-bind-empty { 
    display: none!important;
} 

.w-condition-invisible { 
    display: none!important;
} 

.relative { 
    position: relative;
} 

.sign_in_wrapper-posts { 
    padding: 70px 13% 50px; 
    background-color: #6f23ff;
} 

.sign_in_wrapper { 
    padding-top: 70px; 
    padding-bottom: 70px; 
    background-color: #6f23ff;
} 

.s-m-y-30 { 
    margin-top: 30px; 
    margin-bottom: 30px;
} 

.post-author { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 64px; 
    margin-right: 0; 
    padding: 40px 40px 32px; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    border: 1px solid #e1e6ee; 
    border-radius: 10px;
} 

.text-block-11 { 
    color: #636b98;
} 

.text-block-10 { 
    color: #636b98;
} 

.text-block-12 { 
    color: #636b98;
} 

.w-inline-block { 
    max-width: 100%; 
    display: inline-block;
} 

.post-card-author-link { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 32px; 
    margin-left: 4px; 
    padding-right: 12px; 
    padding-left: 4px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 16px; 
    -webkit-transition: background-color .1s; 
    transition: background-color .1s; 
    color: #596273; 
    text-decoration: none;
} 

.post-card-author-link:hover { 
    background-color: #f5f6f8; 
    color: #2c3340;
} 

.social-share-button { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    overflow: hidden; 
    width: 40px; 
    height: 40px; 
    margin-top: 20px; 
    font-family: 'Times New Roman',TimesNewRoman,Times,Baskerville,Georgia,serif; 
    cursor: pointer; 
    -o-object-fit: fill; 
    object-fit: fill;
} 

.social-share-button:hover { 
    color: #6f23ff;
} 

.hidden { 
    display: none; 
    margin-left: 0;
} 

.post-photo { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 10px; 
    margin-bottom: 10px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-photo.hidden { 
    display: none;
} 

h3 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    color:  #636b98; 
    font-size:  21px; 
    line-height:  28px;
    font-family: 'Domine', sans-serif;
} 

.c-t-blue-2 { 
    color: #636c98;
} 

.toc { 
    width: 100%;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 

.post p  { 
    margin-bottom: 28px; 
    font-size: 18px; 
    line-height: 1.89;
} 

h2 { 
    font-weight:   700; 
    margin-bottom:   16px; 
    margin-top:  0; 
    font-size:  30px; 
    line-height:  40px;
    font-family: 'Domine', sans-serif;
} 

ol { 
    margin-top: 16px; 
    margin-bottom: 24px; 
    padding-left: 40px;
} 

.w-richtext ol  { 
    overflow: hidden;
} 

.w-button { 
    display: inline-block; 
    padding: 9px 15px; 
    background-color: #3898ec; 
    color: #fff; 
    border: 0; 
    line-height: inherit; 
    text-decoration: none; 
    cursor: pointer; 
    border-radius: 0;
} 

.orig_button_blog_content { 
    padding-top: 14px; 
    padding-bottom: 12px; 
    background-color: #6f23ff; 
    font-size: 22px; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 650px; 
    margin: 5px 15px 42px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1; 
    border-radius: 4px; 
    color: #fff; 
    line-height: 1.2em; 
    font-weight: 600; 
    text-align: center;
} 

.orig_button_blog_content:hover { 
    color: hsla(0,0%,100%,.5);
} 

.w-dyn-bind-empty { 
    display: none!important;
} 

.orig_h3_blog_post { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_blog_post.white { 
    color: #fff;
} 

.s-m-t-30 { 
    margin-top: 30px;
} 

.w-layout-grid { 
    display: -ms-grid; 
    display: grid; 
    grid-auto-columns: 1fr; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto; 
    grid-row-gap: 16px; 
    grid-column-gap: 16px;
} 

.apply-now-logo { 
    position: absolute; 
    left: 24px; 
    top: 18px; 
    grid-column-gap: 10px; 
    -ms-grid-columns: auto 1fr; 
    grid-template-columns: auto 1fr; 
    -ms-grid-rows: auto; 
    grid-template-rows: auto;
} 

.apply-now-group { 
    position: absolute; 
    right: 35px; 
    bottom: 25px;
} 

.orig_h3_faq { 
    color: #636c98; 
    font-size: 24px; 
    line-height: 1.42em; 
    text-align: center;
} 

.orig_h3_faq.white { 
    color: #fff;
} 

.w-form { 
    margin: 0 0 15px;
} 

.orig_subscribe_form { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    margin-top: 30px; 
    margin-right: auto; 
    margin-left: auto; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.post-author-avatar { 
    width: 104px; 
    height: 104px; 
    margin-right: 32px; 
    -webkit-box-flex: 0; 
    -webkit-flex: 0 0 auto; 
    -ms-flex: 0 0 auto; 
    flex: 0 0 auto; 
    border-radius: 50%;
} 

.post-author-info { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: start; 
    -webkit-align-items: flex-start; 
    -ms-flex-align: start; 
    align-items: flex-start; 
    -webkit-box-flex: 1; 
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
} 

.post-card-v1-avatar { 
    width: 24px; 
    height: 24px; 
    margin-right: 8px; 
    border-radius: 50%;
} 

.text-block-13 { 
    color: #636b98;
} 

.social-share-code { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-embed:after,.w-embed:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-embed:after { 
    clear: both;
} 

.social-share-code:hover { 
    color: #6f23ff;
} 

.social-btn-icon { 
    position: absolute; 
    left: 0; 
    top: 0; 
    right: 0; 
    bottom: 0;
} 

ul { 
    margin-top: 16px; 
    margin-bottom: 24px; 
    padding-left: 40px;
} 

.toc ul  { 
    list-style-type: none; 
    padding-left: 0; 
    margin-top: 0;
} 

.rich-text-block a  { 
    color: #41d3bd; 
    line-height: 1.89; 
    text-decoration: none;
} 

strong { 
    font-weight: 700;
} 

li { 
    font-size: 17px; 
    line-height: 1.94em;
} 

.flex-v { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column;
} 

.flex-v.ac { 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

#w-node-ff561dc0-66b4-e5d2-485b-4fe89532c69b-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1;
} 

#w-node-_4a2be024-c1f5-d0b4-a5fb-008cc1c4cbc3-b5f96d36 { 
    -ms-grid-column: span 1; 
    grid-column-start: span 1; 
    -ms-grid-column-span: 1; 
    grid-column-end: span 1; 
    -ms-grid-row: span 1; 
    grid-row-start: span 1; 
    -ms-grid-row-span: 1; 
    grid-row-end: span 1; 
    -ms-grid-row-align: center; 
    align-self: center;
} 

.orig_subscribe_form_inner { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    height: 56px; 
    -webkit-box-orient: horizontal; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center;
} 

.w-form-done { 
    display: none; 
    padding: 20px; 
    text-align: center; 
    background-color: #ddd;
} 

.success-message-2 { 
    border: 2px solid #636c98; 
    background-color: transparent;
} 

.w-form-fail { 
    display: none; 
    margin-top: 10px; 
    padding: 10px; 
    background-color: #ffdede;
} 

.heading-5 { 
    color: #3e396b;
} 

.text-grey { 
    color: #636c98; 
    line-height: 22px;
} 

.link-arrow { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding-top: 6px; 
    padding-bottom: 6px; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    color: #41d3bd; 
    font-size: 14px; 
    line-height: 20px; 
    font-weight: 700; 
    text-align: left; 
    text-decoration: none;
} 

.link-arrow.post-author-link { 
    margin-top: -8px;
} 

svg:not(:root) { 
    overflow: hidden;
} 

.orig_yellow_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 250px; 
    margin-top: 17px; 
    margin-bottom: 134px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

.orig_yellow_button.no_margin { 
    margin-top: 0; 
    margin-bottom: 0;
} 

.orig_yellow_button:hover { 
    opacity: 1; 
    color: rgba(62,62,62,.5);
} 

input { 
    color:  inherit; 
    font:  inherit; 
    margin:  0;
    line-height: normal;
} 

.w-input { 
    display: block; 
    width: 100%; 
    height: 38px; 
    padding: 8px 12px; 
    margin-bottom: 10px; 
    font-size: 14px; 
    line-height: 1.42857143; 
    color: #333; 
    vertical-align: middle; 
    background-color: #fff; 
    border: 1px solid #ccc;
} 

.orig_subscribe_input { 
    width: 280px; 
    height: 52px; 
    margin-top: 2px; 
    margin-right: 20px; 
    margin-bottom: 0; 
    border-radius: 4px;
} 

.orig_subscribe_button { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    min-width: 210px; 
    padding: 16px 0 14px; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    border-radius: 4px; 
    background-color: #ffd540; 
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.19); 
    -webkit-transition: color 150ms ease-in-out; 
    transition: color 150ms ease-in-out; 
    color: #3e3e3e; 
    font-size: 18px; 
    line-height: 22px; 
    font-weight: 600; 
    text-align: center; 
    letter-spacing: normal; 
    text-shadow: 0 1px 1px hsla(0,0%,100%,.57);
} 

input.w-button { 
    -webkit-appearance: button;
} 

.orig_subscription_success_message { 
    line-height: 1.8em;
} 

.text-block-5 { 
    color: #41d3bd;
} 

.link-arrow-icon { 
    margin-top: 1px; 
    margin-left: 4px; 
    background-color: transparent;
} 

.toc-h2 a  { 
    color: #481ceb; 
    text-decoration: none;
} 



</style>
