<%= title('Launch Your Dream Career in Programming with Online Software Engineering Programs') %>
<meta name="title" content="Launch Your Dream Career in Programming with Online Software Engineering Programs" />
<meta name="description" content="Explore exciting careers in programming. Gain the skills and knowledge you need to succeed in online software engineering jobs with remote employers, from coding fundamentals to advanced programming languages" />
<meta name="keywords" content="Careers in programming, online software engineering programs" />

<head>
  <meta name="keywords" content="Careers in programming, online software engineering programs, learn programming,  learn javascript,  programming jobs, learn  web development ">
   <meta name="description" content="Explore exciting careers in programming. Gain the skills and knowledge you need to succeed in online software engineering jobs with remote employers, from coding fundamentals to advanced programming languages. ">
    <meta name="title" content="Launch Your  Career in Programming,  FullStack web development, web developer, learn javascript,  learn programming,  object oriented program">
</head>


    <center><h1 class="text-3xl font-bold" style="margin: 5rem 0 ;">ORIENTATION</h1></center>


    <div class="page-container-o">
    <section class="bio">
      <center><%= image_tag ("ori.jpg") %>
      </center>
    </section>

    <section class="cta-o">
      <h1 class="text-3xl font-bold">Welcome to the first step in becoming a Grassroot Student !</h1>
      <br><br>
      <h3>For the past few years, our front page at Grassroot has carried the words of our school’s motto:
        a"A Slow Path for Studious Beginners to a Career in Software Engineering"
      </h3>

      <br>
      <h3>In that simple sentence lies the core of what we’re about at Grassroot and each word is chosen carefully to capture our values and Teaching Methods. </h3>


      <br>
      <h3>Within that sentence several more words are highlighted: "Slow Path", "Studious Beginners" and "Career"</h3>

      <br>
      <h3> These words reflect how we teach, who our students are, and what we’re trying to accomplish.</h3>

      <br>
      <h3>Over the years, we’ve noticed a pattern in our most successful students, and it came down to their ability to study. </h3>

      <br>
      <h3>The key to learning deeply and to be successful in this program is an uninterrupted focus and commitment to studies. Set your schedules for studies and stick to them religiously. SLOW AND STEADY WINS THE RACE</h3>

      <br>
      <h3>In our mastery-based learning program, consistency, grit, and a desire to improve one’s study habits is critical to your successful graduation from the program and landing a job with our hiring partners. </h3>

      <br>
      <h3>You can address this head-on, before starting to learn programming, by first learning how to learn. In fact, there’s a free Coursera course on that exact topic.</h3>

      <br>
      <h3><a href="https://www.coursera.org/learn/learning-how-to-learn">https://www.coursera.org/learn/learning-how-to-learn</h3>

      <br>
      <h3>We recommend this course to everyone who has been out of school for a while or for those who never got an opportunity to pick up good study habits in traditional education. This course is highly recommended. </h3>

      <br>
      <h3>It doesn’t matter whether you are already a studious student or not one yet, the goal of Grassroot is to launch a meaningful career in software development, which mandates an ability to learn deeply.</h3>

       <br>
      <h3>To be successful in the full Program you will need to have the building blocks for survival and they are :</h3>

      <br>
      <h3>1. An exercise book and a pen
      <br>
2. A mobile phone or PC with an internet connection 
<br>
3. 3 hours of FOCUSED study time at least 4 days in a week 
<br>
4. Consistency, Grit and a Desire to Learn </h3>

      <br>
      <h3>Note : As you go through the program, do not try to memorize. You must Learn by USAGE, by Typing every code from the lessons into your code editor app and observe the ouput. If you read without usage, you will forget ! Our goal is to learn by doing. You must master a current topic before proceeding to the next. It is forbidden to proceed to the next topic without first mastering the current topic. </h3>

      <br>
      <h3>Also Note that in the course of your study you may be given certain external links to visit for perusal. As you visit these links. It is required to take short notes from your reading So that you refer to them anytime in the future. </h3>

      <br>
      <h3>The way you're going to learn at Grassroot is by DOING PROJECTS, building your own website, web apps, servers etc.... this will feel like the long path but actually it's the super short one! And we shall stick to the projects, finish it no matter how hard it is! When you will finish, it you will have more knowledge and experience than most people who spend years at universities studying the same discipline! And you will have a project on your resume. Look mr. employer, I made this, it does this, I did it in this way or this way, I learned to use sophisticated programming languages, I learned that this works, this doesn't. These are the things employers are looking for. They want to see what you've built, how you built it and what you can do for their company. Our job is to train you with employable skills so that you leave ready to make a difference in the world. </h3>
    </section>

</div>


<style>

.page-container-o {
  display: flex;
  justify-content: space-between;
  margin: 4rem 7rem;
  gap: 5rem;
}

.bio img {
  border-radius: 10px;
  max-width: 350px;
}

/*  */
@media screen and (max-width: 850px) {
    .page-container-o {
      display: grid;
      margin: 1rem 2.5rem;
    }
    .bio img {
      max-width: 250px;
    }
}

</style>
