<%= title('Student Stories') %>

<div class="section s-p-y-100 wf-section snipcss-V4dHf">
  <div class="wrapper">
    <div class="section-intro no-margin-bottom">
      <h1 class="c-t-heading">
        Grassroot Student Stories
      </h1>
      <p class="no-margin-bottom">
        At Grassroot, every day we witness the amazing transformations of our students, who work incredibly hard to improve their lives. Below, watch their stories of how they landed life-changing jobs in web development.
        <br>
      </p>
    </div>
  </div>
  <div class="abs-bottom">
  </div>
</div>


<div class="section s-p-y-100 wf-section">
  <div class="orig_container w-container">
    <div data-w-id="7c60404e-c40f-1d11-9b2c-e2f9b1b3185b" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="s-m-b-64 sh-m-b-0 w-dyn-list">
      <div role="list" class="blog-v2 s-m-b-0 w-dyn-items w-row">
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/IZgu6tOaUiA" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d65bcb7942a9331633de_avijit-karmaker.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/IZgu6tOaUiA/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgB9AmAAtAFigIMCAAQARhlIFQoSDAP&rs=AOn4CLD7xhlNRYHAuxbGctFv7LmQWMh7Gw" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Musa Ntege</div>
              <div class="body-text s m-b-1-em">Uganda</div>
              <p class="post-card-description-v1">Grassroot Student Musa Ntege from Uganda, Shared his journey to landing a remote software role in a US Based tech company</p>
            </div>
          </a></div>
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/7ybjAOyjF4w" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d634ff60cfb73136998a_ceci-benitez.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/7ybjAOyjF4w/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgB9AmAAtAFigIMCAAQARhlIGUoZTAP&rs=AOn4CLDFjr0-k7-tvsBZ0lzY2DaVUC01eA" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Carlos Anriquez</div>
              <div class="body-text s m-b-1-em">Argentina</div>
              <p class="post-card-description-v1">Grassroot Alum Carlos Anriquez from Argentina shared his journey to becoming a software developer at Buenos Aires 
</p>
            </div>
          </a></div>
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/If0paQ2GT8I" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d6b1e1418dd51c556304_lamia-sristy.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/If0paQ2GT8I/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgB9AmAAtAFigIMCAAQARhlIFwoTDAP&rs=AOn4CLCcIPCPfVqkaMo4fQaqEggb0tFDog" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Kelvin Mwangi</div>
              <div class="body-text s m-b-1-em">kenya</div>
              <p class="post-card-description-v1">Grassroot Alum, Kelvin Mwangi from kenya junior software engineer at Microsoft share his software developer journey </p>
            </div>
          </a></div>
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/WERmow755Po" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d7113eda9901d52b9e1e_kevin-mwangi.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/WERmow755Po/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgB9AmAAtAFigIMCAAQARhlIGEoWTAP&rs=AOn4CLAxC6wEls3TpB3YIXpY-O3eUqitmw" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Ceci Benitez</div>
              <div class="body-text s m-b-1-em">Paraguay</div>
              <p class="post-card-description-v1">Grassroot Student Ceci Benitez from Paraguay shared her software developer with Grassroot and her words for encouragement for aspiring female software developers everywhere </p>
            </div>
          </a></div>
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/vjFjscATrHs" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d6693eda9985332b994b_oscar-mier.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/vjFjscATrHs/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgBuAeAAtAFigIMCAAQARhlIFIoTzAP&rs=AOn4CLBEbzHZDE7tFujfs-IqsxPCOzCfRQ" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Elizabeth Villalejos</div>
              <div class="body-text s m-b-1-em">Mexico</div>
              <p class="post-card-description-v1">Elizabeth Villalejos from Mexico talks about the Grassroot student experience, and why she recommends Grassroot.</p>
            </div>
          </a></div>
        <div role="listitem" class="postcard-collection-item w-dyn-item w-col w-col-4"><a href="https://youtu.be/ha81g1gd8iE" class="post-card-link-v2 w-inline-block">
            <div style="background-image:url(&quot;https://assets-global.website-files.com/5dbb30f00775d4350591a4e5/6246d64f281a40755886291f_cristian-ceamatu.jpg&quot;)" class="post-card-v4-image">
              <div><img src="https://i.ytimg.com/vi/ha81g1gd8iE/hqdefault.jpg?sqp=-oaymwE2CNACELwBSFTyq4qpAygIARUAAIhCGAFwAcABBvABAfgB9AmAAtAFigIMCAAQARh_IDcoFDAP&rs=AOn4CLDr6DdGmcTryJY9WgnAdF82_yId5g" loading="lazy" alt="" class="video-thumbnail"></div>
              <div class="z-1"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/614331b0453483bdd23b2298_play-button-white.svg" loading="lazy" alt="white play button" class="image-6"></div>
            </div>
            <div class="post-card-v3">
              <div class="post-card-heading">Baraka Mukenlenga</div>
              <div class="body-text s m-b-1-em">Rwande</div>
              <p class="post-card-description-v1">Grassroot Alum - Baraka Mukenlenga
                React Native Developer at Code and Care in Rwande gives words of encouragement for new Grassroot Students</p>
            </div>
          </a></div>
      </div>
<div class="orig_h2_container_yello mb_96">
  <h2 data-src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5dc8854311520e2e89ee0c51_path-5185_2.svg" class="orig_h2_title_green XXsnipcss_extracted_selector_selectionXX snipcss0-0-0-1 tether-target-attached-top tether-element-attached-top tether-element-attached-center tether-target-attached-center">
  Grassroot is an online school for remote software developers where you pay Nothing until you land a job.</h2>
</div>
<div class="orig_h2_no_limit m_b_54 sh-m-b-150">After graduation, <strong>We connect you to our vast network of employers home and abroad..</strong>; We are on a mission to train and connect 1 million professionals to remote jobs by 2020. 
Learn more at <a href="https://www.youtube.com/@grassroot_academy/videos" target="_blank" class="link-3">Learn more about tuition.</a></div>
    </div>
  </div>
</div>



<div class="section c-b-light-blue wf-section">
  <div class="orig_content_no_diagonal">
    <div class="orig_container_2 w-container">
      <div class="w-layout-grid l-g-2-cols logos">
        <div id="w-node-_16b64116-cbc4-138d-6454-b7cb85c00c70-91f96d9c" class="max-w-320">
          <h2 class="text-normal c-t-blue text-t-centered">Microverse alums are hired by companies of all sizes, globally</h2>
        </div>
        <div class="companies-wrapper logos">
          <div class="company-logo-wrap microsoft small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61008ef1680b975743cd8af6_microsoft-logo.svg" loading="lazy" width="140" alt="microsoft logo" class="microsoft-logo"></div>
          <div class="company-logo-wrap huawei small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61011891e8280469228a49a5_huawei.svg" loading="lazy" width="75" alt="huawei logo" class="huawei-logo"></div>
          <div class="company-logo-wrap media small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61011e1d480baf5f9acb0307_media-monks.svg" loading="lazy" width="90" alt="media-monks logo" class="media-monks-logo"></div>
          <div class="company-logo-wrap mercado small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/610119c3498ac45a6be33d12_mercado-libre.svg" loading="lazy" width="84" alt="mercado libre logo" class="mercado-libre-logo"></div>
          <div class="company-logo-wrap games small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61012285c0a4d6596deb2e3f_ustwo-games.svg" loading="lazy" alt="ustmo games logo" class="ustmo-games-logo"></div>
          <div class="company-logo-wrap hsbc small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61012752c1a7024b8a0f44ab_HSBC.svg" loading="lazy" width="140" alt="hsbc logo" class="hsbc-logo"></div>
          <div class="company-logo-wrap globant small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6109587d3536a39240cb595c_globant%20new%20logo.webp" loading="lazy" width="150" alt="globant logo" class="globant-logo"></div>
          <div class="company-logo-wrap torre small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61011b00f82366546c592cf7_torre.svg" loading="lazy" width="100" alt="torre logo" class="torre-logo"></div>
          <div class="company-logo-wrap doctolib"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/610090103cce2c4242dfc331_doctolib-logo.svg" loading="lazy" width="120" alt="doctolib logo" class="doctolib-logo"></div>
          <div class="company-logo-wrap vmware small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61011c097eb6bbd81f00ac9d_vmware.svg" loading="lazy" width="150" alt="vmware logo" class="vmware-logo"></div>
          <div class="company-logo-wrap apptegy small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/610123f6bc0d7d0f29e60d60_apptegy.svg" loading="lazy" width="170" alt="apptegy logo" class="apptegy-logo"></div>
          <div class="company-logo-wrap deloitte small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/610152c58e2bf391c5c50e18_Deloitte_Deutschland_logo.svg" loading="lazy" alt="deloitte logo" class="deloitte-logo"></div>
          <div class="company-logo-wrap standford small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6101282780a42500e8f02ccf_standford-healthcare.svg" loading="lazy" width="154" alt="standford healthcare logo" class="stanford-logo"></div>
          <div class="company-logo-wrap ph small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/610126f2e74ecc2096710e91_partner-hero.svg" loading="lazy" width="150" alt="partnerhero logo" class="partner-hero-logo"></div>
          <div class="company-logo-wrap better small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61011f18a9c1cd0359a5b4b0_better.svg" loading="lazy" width="90" alt="better logo" class="better-logo"></div>
          <div class="company-logo-wrap magma small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/61012212dab1af05d3ad404e_magma-labs-logo.svg" loading="lazy" width="200" alt="magmalabs logo" class="magmalabs-logo"></div>
          <div class="company-logo-wrap fw small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6101536b12ddba9c5b381e48_freshworks-logo.svg" loading="lazy" width="160" alt="freshworks logo" class="frshworks-logo"></div>
          <div class="company-logo-wrap outlier small"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6101527537196959783f24e2_outlier.svg" loading="lazy" width="120" alt="outlier logo" class="outlier-logo"></div>
        </div>
      </div>
    </div>
  </div>
    <br><br>
</div>


<style>

* {
  box-sizing: border-box;
}
.orig_h2_container_yello {
  position: relative;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 40px;
}
.orig_h2_title_green {
  margin-top: 87px;
  margin-bottom: 15px;
  padding: 21px 36px 18px;
  background-image: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e2e96b812d9359787f92a4d_path-5185_2.png");
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
}
h1,
h2,
h3,
.bold-text-3,
.text-block-18,
.achievement-number {
  font-family: Domine, sans-serif;
}
* {
  box-sizing: border-box;
}
.orig_h2_container_yello {
  position: relative;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 40px;
}
.orig_h2_title_green {
  margin-top: 87px;
  margin-bottom: 15px;
  padding: 21px 36px 18px;
  background-image: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e2e96b812d9359787f92a4d_path-5185_2.png");
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
}
h1,
h2,
h3,
.bold-text-3,
.text-block-18,
.achievement-number {
  font-family: Domine, sans-serif;
}
.orig_h2_no_limit {
  margin-right: auto;
  margin-left: auto;
  padding: 16px 60px 30px;
  color: rgb(99, 108, 152);
  font-size: 20px;
  line-height: 1.65em;
  text-align: center;
}
.orig_h2_no_limit.m_b_54 {
  max-width: 66.6667%;
  margin-top: 47px;
  margin-bottom: 54px;
  padding-right: 15px;
  padding-bottom: 2em;
  padding-left: 15px;
}
b,
optgroup,
strong {
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .orig_h2_container_yello,
  .orig_h2_container_yello.max_58_33 {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_title_green {
    margin: 67px -18px 35px;
    font-size: 28px;
    line-height: 1em;
  }
}
@media screen and (max-width: 479px) {
  .orig_h2_title_green {
    line-height: 1.2em;
  }
}
@media screen and (max-width: 991px) {
  .orig_h2_container_yello,
  .orig_h2_container_yello.max_58_33 {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_title_green {
    margin: 67px -18px 35px;
    font-size: 28px;
    line-height: 1em;
  }
}
@media screen and (max-width: 479px) {
  .orig_h2_title_green {
    line-height: 1.2em;
  }
}
@media screen and (max-width: 991px) {
  .orig_h2_no_limit {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .orig_h2_no_limit.m_b_52,
  .orig_h2_no_limit.m_b_54,
  .orig_h2_no_limit.m_b_72,
  .orig_h2_no_limit.max_66-66 {
    max-width: none;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_no_limit {
    font-size: 18px;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_no_limit.m_b_54 {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_no_limit.m_b_54.sh-m-b-150 {
    margin-bottom: 150px;
  }
}
@media screen and (max-width: 767px) {
  .sh-m-b-150 {
    margin-bottom: 150px;
  }
}


/*  */

* {
  box-sizing: border-box;
}
.orig_h2_container_yello {
  position: relative;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 40px;
}
.orig_h2_title_green {
  margin-top: 87px;
  margin-bottom: 15px;
  padding: 21px 36px 18px;
  background-image: url("https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e2e96b812d9359787f92a4d_path-5185_2.png");
  background-position: 0px 0px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-size: 36px;
  line-height: 1.2em;
  text-align: center;
}
h1,
h2,
h3,
.bold-text-3,
.text-block-18,
.achievement-number {
  font-family: Domine, sans-serif;
}
@media screen and (max-width: 991px) {
  .orig_h2_container_yello,
  .orig_h2_container_yello.max_58_33 {
    max-width: 100%;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 767px) {
  .orig_h2_title_green {
    margin: 67px -18px 35px;
    font-size: 28px;
    line-height: 1em;
  }
}
@media screen and (max-width: 479px) {
  .orig_h2_title_green {
    line-height: 1.2em;
  }
}


/* ----------- */

* {
  box-sizing: border-box;
}
.section {
  position: relative;
  display: flex;
  padding: 0 40px 40px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.s-p-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-left: 15px;
}
.s-m-b-64 {
  margin-bottom: 64px;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row::after,
.w-row::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-row::after {
  clear: both;
}
.blog-v2 {
  display: flex;
  width: 100%;
  margin-bottom: -40px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.s-m-b-0 {
  margin-bottom: 0px;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col-4 {
  width: 33.3333%;
}
.postcard-collection-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-card-link-v2 {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(89, 98, 115, 0.12) 0px 1px 3px 0px;
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s,
    -webkit-transform 0.3s ease 0s;
  color: rgb(44, 51, 64);
  text-decoration: none;
}
.post-card-link-v2:hover {
  box-shadow: rgba(89, 98, 115, 0.15) 0px 15px 30px 0px;
  transform: translate(0px, -4px);
}
.post-card-v4-image {
  position: relative;
  display: flex;
  width: 350px;
  height: 216px;
  max-width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(211, 216, 225);
  transition: filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.video-thumbnail {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.image-6 {
  width: 60px;
  height: 60px;
}
.post-card-v3 {
  display: flex;
  padding: 32px 12px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.post-card-heading {
  color: rgb(62, 57, 107);
  font-size: 18px;
  font-weight: 700;
}
.body-text {
  font-weight: 400;
}
.body-text.s {
  font-size: 16px;
  line-height: 1.2em;
}
.m-b-1-em {
  margin-bottom: 1em;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: rgb(99, 108, 152);
  line-height: 1.94;
  font-weight: 400;
}
.post-card-description-v1 {
  color: rgb(99, 107, 152);
  font-size: 16px;
  line-height: 1.6;
}
.flex-h {
  display: flex;
}
.flex-h.js {
  -webkit-box-pack: center;
  justify-content: center;
}
.c-t-heading {
  color: rgb(62, 57, 107);
}
.font-size-21 {
  font-size: 21px;
}
* {
  box-sizing: border-box;
}
.section {
  position: relative;
  display: flex;
  padding: 0 40px 40px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.s-p-y-100 {
  padding-top: 100px;
  padding-bottom: 100px;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-left: 15px;
}
.s-m-b-64 {
  margin-bottom: 64px;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row::after,
.w-row::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-row::after {
  clear: both;
}
.blog-v2 {
  display: flex;
  width: 100%;
  margin-bottom: -40px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.s-m-b-0 {
  margin-bottom: 0px;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col-4 {
  width: 33.3333%;
}
.postcard-collection-item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.post-card-link-v2 {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(89, 98, 115, 0.12) 0px 1px 3px 0px;
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s,
    -webkit-transform 0.3s ease 0s;
  color: rgb(44, 51, 64);
  text-decoration: none;
}
.post-card-link-v2:hover {
  box-shadow: rgba(89, 98, 115, 0.15) 0px 15px 30px 0px;
  transform: translate(0px, -4px);
}
.post-card-v4-image {
  position: relative;
  display: flex;
  width: 350px;
  height: 216px;
  max-width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(211, 216, 225);
  transition: filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.video-thumbnail {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.image-6 {
  width: 60px;
  height: 60px;
}
.post-card-v3 {
  display: flex;
  padding: 32px 12px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.post-card-heading {
  color: rgb(62, 57, 107);
  font-size: 18px;
  font-weight: 700;
}
.body-text {
  font-weight: 400;
}
.body-text.s {
  font-size: 16px;
  line-height: 1.2em;
}
.m-b-1-em {
  margin-bottom: 1em;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: rgb(99, 108, 152);
  line-height: 1.94;
  font-weight: 400;
}
.post-card-description-v1 {
  color: rgb(99, 107, 152);
  font-size: 16px;
  line-height: 1.6;
}
body,
p {
  font-family: Montserrat, sans-serif;
}
.flex-h {
  display: flex;
}
.flex-h.js {
  -webkit-box-pack: center;
  justify-content: center;
}
.c-t-heading {
  color: rgb(62, 57, 107);
}
.font-size-21 {
  font-size: 21px;
}
.c-b-light-blue {
  background-color: rgb(248, 250, 255);
}
.orig_content_no_diagonal {
  position: relative;
  z-index: 105;
  width: 100%;
}
.orig_container_2 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}
.w-layout-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 16px;
}
.l-g-2-cols {
  grid-template-rows: auto;
}
.l-g-2-cols.logos {
  column-gap: 30px;
  grid-template-columns: 0.75fr 1fr;
}
.max-w-320 {
  max-width: 320px;
}
#w-node-_04bcb0dd-51a2-7b34-9c4f-e9e49836fc9e-c1f96ca9,
#w-node-_04bcb0dd-51a2-7b34-9c4f-e9e49836fca3-c1f96ca9,
#w-node-_04bcb0dd-51a2-7b34-9c4f-e9e49836fcb5-c1f96ca9,
#w-node-_04bcb0dd-51a2-7b34-9c4f-e9e49836fcba-c1f96ca9,
#w-node-_16b64116-cbc4-138d-6454-b7cb85c00c70-91f96d9c,
#w-node-_2d011405-3291-b16a-84be-748a594d5265-10f96d81,
#w-node-_2d011405-3291-b16a-84be-748a594d5265-c4b82013,
#w-node-_35f816c8-679b-3550-bc23-ee3036942485-10f96d81,
#w-node-_35f816c8-679b-3550-bc23-ee3036942485-c4b82013,
#w-node-_616e9e75-21c1-566a-ffa7-f4c635767e6b-87f96d12,
#w-node-d4c0cd7d-80d9-2a63-c36b-8d760089a926-10f96d81,
#w-node-d4c0cd7d-80d9-2a63-c36b-8d760089a926-c4b82013,
#w-node-d4c0cd7d-80d9-2a63-c36b-8d760089a92b-10f96d81,
#w-node-d4c0cd7d-80d9-2a63-c36b-8d760089a92b-c4b82013 {
  align-self: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 10px;
}
h2 {
  margin-top: 0px;
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 40px;
}
.text-normal {
  font-weight: 400;
}
.c-t-blue {
  color: rgb(62, 57, 107);
}
h1,
h2,
h3,
.bold-text-3,
.text-block-18,
.achievement-number {
  font-family: Domine, sans-serif;
}
.companies-wrapper {
  display: flex;
  margin-top: 42px;
  margin-right: -52px;
  margin-left: -52px;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.companies-wrapper.logos {
  margin-top: 0px;
}
.company-logo-wrap {
  display: flex;
  padding: 42px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.company-logo-wrap.small {
  padding: 20px 15px;
}
.microsoft-logo {
  width: 120px;
}
.huawei-logo {
  width: 60px;
  height: 60px;
}
.media-monks-logo {
  width: 70px;
  height: 35.13px;
}
.mercado-libre-logo {
  width: 70px;
  height: 63.36px;
}
.ustmo-games-logo {
  width: 80px;
  height: 35.95px;
}
.globant-logo,
.hsbc-logo {
  width: 120px;
}
.torre-logo {
  width: 70px;
  height: 21.5px;
}
.doctolib-logo {
  width: 90px;
  height: 26.69px;
}
.vmware-logo {
  width: 120px;
}
.apptegy-logo {
  width: 140px;
}
.deloitte-logo {
  width: 100px;
  height: 19.53px;
}
.stanford-logo {
  width: 120px;
  height: 36.66px;
}
.partner-hero-logo {
  width: 120px;
  height: 36.94px;
}
.better-logo {
  width: 80px;
}
.magmalabs-logo {
  width: 160px;
}
.frshworks-logo {
  width: 130px;
}
.outlier-logo {
  width: 90px;
}
@media screen and (max-width: 991px) {
  .section {
    /* padding: 80px 8px; */
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 767px) {
  .s-p-y-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .section {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .orig_container {
    max-width: 540px;
  }
}
@media screen and (max-width: 767px) {
  .sh-m-b-0 {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .w-container .w-row,
  .w-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .blog-v2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .section {
    padding: 80px 8px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 767px) {
  .s-p-y-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .section {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .orig_container {
    max-width: 540px;
  }
}
@media screen and (max-width: 767px) {
  .sh-m-b-0 {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .w-container .w-row,
  .w-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .blog-v2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .section {
    padding: 80px 8px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 479px) {
  .section {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 991px) {
  .l-g-2-cols.logos {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 991px) {
  #w-node-_16b64116-cbc4-138d-6454-b7cb85c00c70-91f96d9c {
    justify-self: center;
  }
}
@media screen and (max-width: 991px) {
  h2 {
    font-size: 26px;
    line-height: 32px;
  }
}
@media screen and (max-width: 991px) {
  .text-t-centered {
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 25px;
  }
}
@media screen and (max-width: 991px) {
  .companies-wrapper {
    margin-right: -36px;
    margin-left: -36px;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}
@media screen and (max-width: 991px) {
  .companies-wrapper.logos {
    margin-right: -20px;
    margin-left: -20px;
  }
}
@media screen and (max-width: 767px) {
  .companies-wrapper {
    margin-right: -15px;
    margin-left: -15px;
    row-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 479px) {
  .companies-wrapper {
    margin-right: -10px;
    margin-left: -10px;
    grid-auto-columns: 1fr;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.microsoft {
    max-width: 120px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.microsoft {
    max-width: 110px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.microsoft {
    max-width: 90px;
  }
}
@media screen and (max-width: 991px) {
  .microsoft-logo {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.huawei {
    max-width: 60px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.huawei {
    max-width: 44px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.media,
  .company-logo-wrap.mercado {
    max-width: 70px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.media {
    max-width: 60px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.media,
  .company-logo-wrap.mercado {
    max-width: 50px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.media,
  .company-logo-wrap.mercado {
    max-width: 70px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.media,
  .company-logo-wrap.mercado {
    max-width: 50px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.games {
    max-width: 80px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.games {
    max-width: 80px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.games {
    max-width: 60px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.hsbc {
    max-width: 110px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.hsbc {
    max-width: 100px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.hsbc {
    max-width: 80px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.globant {
    max-width: 140px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.globant {
    max-width: 120px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.globant {
    max-width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.torre {
    max-width: 70px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.torre {
    max-width: 60px;
  }
}
@media screen and (max-width: 991px) {
  .globant-logo,
  .hsbc-logo,
  .media-monks-logo,
  .mercado-libre-logo,
  .torre-logo,
  .ustmo-games-logo {
    width: 100%;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.doctolib {
    max-width: 90px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.doctolib {
    max-width: 80px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.vmware {
    max-width: 76px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.apptegy {
    max-width: 130px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.apptegy {
    max-width: 106px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.apptegy {
    max-width: 88px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.deloitte {
    max-width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.deloitte {
    max-width: 90px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.deloitte {
    max-width: 72px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.standford {
    max-width: 110px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.standford {
    max-width: 90px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.ph {
    max-width: 120px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.ph {
    max-width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.better {
    max-width: 70px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.better {
    max-width: 66px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.better {
    max-width: 54px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.magma {
    max-width: 140px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.magma {
    max-width: 100px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.fw {
    max-width: 120px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.fw {
    max-width: 110px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap {
    max-width: 90px;
    margin-right: 16px;
    margin-left: 16px;
    padding: 32px 0px;
  }
}
@media screen and (max-width: 991px) {
  .company-logo-wrap.small {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap {
    max-width: 80px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 767px) {
  .company-logo-wrap.small {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap {
    max-width: 70px;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
  }
}
@media screen and (max-width: 479px) {
  .company-logo-wrap.outlier {
    max-width: 74px;
  }
}

/* ------------- */

* { 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
} 

.page-wrapper { 
    position: relative; 
    display: block; 
    overflow: hidden; 
    grid-auto-columns: 1fr; 
    grid-column-gap: 16px; 
    grid-row-gap: 16px; 
    -ms-grid-columns: 1fr 1fr; 
    grid-template-columns: 1fr 1fr; 
    -ms-grid-rows: auto auto; 
    grid-template-rows: auto auto;
} 

body { 
    margin:  0; 
    min-height:  100%; 
    background-color:  #fff; 
    font-family:  'Montserrat', sans-serif;
    color:  #2c3340; 
    font-size:  17px; 
    line-height:  1.41em;
} 

html { 
    font-family: sans-serif; 
    -ms-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 100%; 
    height: 100%;
} 

.section { 
    position: relative; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    padding: 50px 40px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: #fff;
} 

.s-p-y-100 { 
    padding-top: 100px; 
    /* padding-bottom: 100px; */
} 

.wrapper { 
    position: relative; 
    z-index: 1; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    width: 100%; 
    max-width: 1200px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    background-color: transparent;
} 

.abs-bottom { 
    position: absolute; 
    left: 0; 
    top: auto; 
    right: 0; 
    bottom: 0;
} 

.no-margin-bottom { 
    margin-bottom: 0; 
    font-family: Montserrat,sans-serif; 
    color: #636c98; 
    font-size: 20px; 
    line-height: 1.8; 
    font-weight: 400; 
    -o-object-fit: fill; 
    object-fit: fill;
} 

.section-intro { 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    max-width: 600px; 
    margin-bottom: 80px; 
    padding-right: 15px; 
    padding-left: 15px; 
    -webkit-box-orient: vertical; 
    -webkit-box-direction: normal; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-box-align: center; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
    text-align: center;
} 

.section-intro.no-margin-bottom { 
    max-width: 800px; 
    margin-bottom: 0; 
    color: #3e396b;
} 

.w-container { 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 940px;
} 

.orig_container { 
    position: relative; 
    width: 100%; 
    max-width: 1140px; 
    padding-right: 15px; 
    /* padding-bottom: 100px;  */
    padding-left: 15px;
} 

.w-container:after,.w-container:before { 
    content: " "; 
    display: table; 
    grid-column-start: 1; 
    grid-row-start: 1; 
    grid-column-end: 2; 
    grid-row-end: 2;
} 

.w-container:after { 
    clear: both;
} 

h1 { 
    margin:    .67em 0;
    font-weight:   700; 
    margin-bottom:   24px; 
    margin-top:  0; 
    font-size:  44px; 
    line-height:  56px;
    font-family: 'Domine', sans-serif;
} 

.c-t-heading { 
    color: #3e396b;
} 

p { 
    margin-top:  0; 
    margin-bottom:  1rem; 
    color:  #636c98; 
    line-height:  1.94; 
    font-weight:  400;
    font-family: 'Montserrat', sans-serif;
} 



/* --------- */

* {
  box-sizing: border-box;
}
.section {
  position: relative;
  display: flex;
  padding: 50px 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}
.s-p-y-100 {
  padding-top: 100px;
  /* padding-bottom: 100px; */
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container {
  position: relative;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  /* padding-bottom: 100px; */
  padding-left: 15px;
}
.s-m-b-64 {
  margin-bottom: 64px;
}
.w-container .w-row {
  margin-left: -10px;
  margin-right: -10px;
}
.w-row::after,
.w-row::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-row::after {
  clear: both;
}
.blog-v2 {
  display: flex;
  width: 100%;
  margin-bottom: -40px;
  -webkit-box-pack: start;
  justify-content: flex-start;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  align-items: stretch;
}
.s-m-b-0 {
  margin-bottom: 0px;
}
.w-col {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
}
.w-col-4 {
  width: 33.3333%;
}
.postcard-collection-item {
  padding-top: 10px;
  padding-bottom: 10px;
}

.post-card-link-v2 {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(89, 98, 115, 0.12) 0px 1px 3px 0px;
  transition: box-shadow 0.3s ease 0s, transform 0.3s ease 0s,
    -webkit-transform 0.3s ease 0s;
  color: rgb(44, 51, 64);
  text-decoration: none;
}
.post-card-link-v2:hover {
  box-shadow: rgba(89, 98, 115, 0.15) 0px 15px 30px 0px;
  transform: translate(0px, -4px);
}
.post-card-v4-image {
  position: relative;
  display: flex;
  width: 350px;
  height: 216px;
  max-width: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(211, 216, 225);
  transition: filter 0.2s ease 0s, -webkit-filter 0.2s ease 0s;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.video-thumbnail {
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.z-1 {
  position: relative;
  z-index: 1;
}
.image-6 {
  width: 60px;
  height: 60px;
}
.post-card-v3 {
  display: flex;
  padding: 32px 12px 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex: 1 1 0%;
}
.post-card-heading {
  color: rgb(62, 57, 107);
  font-size: 18px;
  font-weight: 700;
}
.body-text {
  font-weight: 400;
}
.body-text.s {
  font-size: 16px;
  line-height: 1.2em;
}
.m-b-1-em {
  margin-bottom: 1em;
}
p {
  margin-top: 0px;
  margin-bottom: 1rem;
  color: rgb(99, 108, 152);
  line-height: 1.94;
  font-weight: 400;
}
.post-card-description-v1 {
  color: rgb(99, 107, 152);
  font-size: 16px;
  line-height: 1.6;
}
body,
p {
  font-family: Montserrat, sans-serif;
}
.flex-h {
  display: flex;
}
.flex-h.js {
  -webkit-box-pack: center;
  justify-content: center;
}
.c-t-heading {
  color: rgb(62, 57, 107);
}
.font-size-21 {
  font-size: 21px;
}
@media screen and (max-width: 991px) {
  .section {
    padding: 80px 8px;
  }
}
@media screen and (max-width: 767px) {
  .section {
    padding-top: 56px;
    padding-bottom: 56px;
  }
}
@media screen and (max-width: 767px) {
  .s-p-y-100 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media screen and (max-width: 479px) {
  .section {
    padding-right: 8px;
    padding-left: 8px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container {
    max-width: 720px;
  }
}
@media screen and (max-width: 767px) {
  .orig_container {
    max-width: 540px;
  }
}
@media screen and (max-width: 767px) {
  .sh-m-b-0 {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .w-container .w-row,
  .w-row {
    margin-left: 0px;
    margin-right: 0px;
  }
}
@media screen and (max-width: 767px) {
  .blog-v2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
@media screen and (max-width: 767px) {
  .w-col {
    width: 100%;
    left: auto;
    right: auto;
  }
}
@media screen and (max-width: 479px) {
  .w-col {
    width: 100%;
  }
}
@media screen and (max-width: 991px) {
  .postcard-collection-item {
    width: 50%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 767px) {
  .postcard-collection-item {
    width: auto;
  }
}
@media screen and (max-width: 991px) {
  .post-card-link-v2 {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v4-image {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-v4-image {
    width: 100%;
    height: 264px;
  }
}
@media screen and (max-width: 479px) {
  .post-card-v4-image {
    height: 224px;
  }
}
@media screen and (max-width: 991px) {
  .post-card-v3 {
    padding-top: 24px;
    padding-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .post-card-heading {
    font-size: 16px;
  }
}
@media screen and (max-width: 991px) {
  p {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 767px) {
  .post-card-description-v1 {
    font-size: 14px;
  }
}
 

</style>