<div class="w-full gradient dark:bg-gray-800/30 dark:bg-none">
  <div class="page-container">

  <div class="orig_container_2 hero_section w-container">
  <div class="orig_receive_pdf">
    <div class="orig_get_syllabus_title mb-60">You may have seen us in..</div>
    <div class="orig_logos_flex s-m-b-100"><a href="https://www.edsurge.com/news/2020-03-09-coding-bootcamp-Grassroot-raises-3-2-million-seed-round" target="_blank" class="_5col-item-logo w-inline-block">
        <div><img data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e30fed67adcd646b0_EdSurge_logo-700x163.png" class="orig_image_logos_2 edsurge lazyload" data-src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e6087eb46e6b88520cde803_edsurge_logo_bq.webp" src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e6087eb46e6b88520cde803_edsurge_logo_bq.webp" srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e30fed67adcd646b0_EdSurge_logo-700x163.png"></div>
      </a>
      <div class="_5col-item-logo sm-m-t-30">
        <div><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5fa6b219412e154f0b5a5ccf_Best%20Online%20Badge%202020.png" loading="lazy" alt="course report badge" class="orig_image_logos_2 bootcamp-2"></div>
      </div><a href="https://techcrunch.com/2021/07/01/edtech-startup-Grassroot-raises-12-5m-to-bring-income-share-agreements-to-the-developing-world/" target="_blank" class="_5col-item-logo sm-m-t-30 w-inline-block">
        <div><img class="orig_image_logos_2 tc lazyload" data-src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fc37e2e3873c260667425_techcrunch_logo.svg" src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fc37e2e3873c260667425_techcrunch_logo.svg"></div>
      </a>
      <div class="_5col-item-logo sm-m-t-30"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fc2a6cb5456025e7d2be1_ck-best-online-bootcamps-240.webp" width="120" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="careerkarma logo" class="orig_image_logos_2 bob"></div><a href="https://sifted.eu/articles/coding-Grassroot-raise/" target="_blank" class="_5col-item-logo sm-m-t-30 w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fc55da2e8222de730de59_sifted.svg" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="sifted logo" class="orig_image_logos_2 sifted"></a><a href="https://www.hostingadvice.com/blog/Grassroot-is-an-online-software-development-school/" target="_blank" class="_4col-item-logo hosting-adv w-inline-block">
        <div><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/6201aefee3750746df3566d6_ha-logo-stacked-full.webp" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="ha logo" class="orig_image_logos_2 hosting-advice"></div>
      </a><a id="w-node-ca05d780-fd9d-d820-ecf3-82bddc3cbb9b-c1f96ca9" href="https://cincodias.elpais.com/cincodias/2021/07/01/companias/1625095824_907514.html" target="_blank" class="_4col-item-logo cincodias w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fa1e9448f4f5748142ac7_press-cincodias-logo.svg" width="234" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="cincodias logo" class="orig_image_logos_2 cincodias"></a><a id="w-node-a12bfffc-41fd-71f8-203b-35c42246a643-c1f96ca9" href="https://venturebeat.com/2021/06/30/Grassroot-wants-to-educate-overlooked-coding-talent-from-developing-regions/" target="_blank" class="_4col-item-logo vb w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612f9fc2ea72f6493af5997c_venturebeat-logo-vector.svg" width="234" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="venturebeat logo" class="orig_image_logos_2 vb"></a><a id="w-node-af03a18b-5986-c358-91b3-6313f775d5e6-c1f96ca9" href="https://www.infobae.com/economia/2021/06/30/es-argentino-su-familia-emigro-en-2001-y-creo-en-silicon-valley-una-startup-millonaria-que-ensena-a-programar-y-trabajar-remoto/" target="_blank" class="_4col-item-logo infobae w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/612fab56b669e44a96e8dcf4_logo_infobae_naranja.svg" width="234" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="infobae logo" class="orig_image_logos_2 infobae"></a><a id="w-node-e786b567-7961-dcb4-9e3d-e5447c54bc64-c1f96ca9" href="https://businessinsider.mx/Grassroot-edtech-trabajo-remoto-mexico_startups/" target="_blank" class="_4col-item-logo bi w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/63cfbdb88a8b2d538efe4876_business-insider-mexico.svg" width="120" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="" class="orig_image_logos_2 bi"></a>
      <div class="_4col-item-logo sm-m-t-30">
        <div><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/63cfbf79d154ef131c8efa4a_CourseReportBadge-2023.webp" loading="lazy" width="160" alt="" class="orig_image_logos_2 bootcamp-3"></div>
      </div><a id="w-node-_4b41414d-754d-acef-7327-77bf136c8cad-c1f96ca9" href="https://www.forbesargentina.com/innovacion/tres-startups-estudiar-programacion-pagar-obtener-sueldos-us-1000-o-mas-n15711" target="_blank" class="_4col-item-logo forbes w-inline-block"><img src="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/63cfbe11a43e8ff5537b35a5_forbes-black.svg" width="234" data-srcset="https://assets-global.website-files.com/5dbb30f00775d4c32191a4df/5e608a2e6f0e683b508ee1cd_siftedlogo.png" alt="" class="orig_image_logos_2 forbes"></a>
    </div>
  </div>
</div>

    <div class="text-center">
      <h2 class="font-medium text-3xl text-gray-800 dark:text-gray-200">Success Stories</h2>
    </div>

    <div class="max-w-7xl mx-auto mt-8 sm:mt-16 flex flex-nowrap xl:flex-wrap flex-col xl:flex-row items-center">
      <% @success_stories.each do |story| %>
      <div class="px-6 sm:px-0 max-w-xl xl:max-w-none xl:w-1/2 flex pb-9">
        <div class="w-16 sm:w-24 text-center pt-4 sm:flex justify-center">
          <%= image_tag "success_stories/#{story.avatar_path_name}", alt: "#{story.student_name}'s avatar", class: 'w-12 h-12 rounded-full shadow-inner' %>
        </div>

        <div class="flex-1">
            <p><%= link_to story.student_name, story.social_media_link, class: 'text-gold-600' %></p>
          <div class="text-lg"><%= story.story_content.truncate_words(30).html_safe %></div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="flex justify-center">
      <%= link_to 'Read more success stories', success_stories_path, class: 'dark:text-gray-400 underline text-lg pt-4 hover:text-gray-800 dark:hover:text-gray-300' %>
    </div>

  </div>
</div>



<%# style here %>

<style>

* {
  box-sizing: border-box;
}
.orig_content {
  position: relative;
  z-index: 105;
  display: block;
  width: 100%;
  transform: skew(0deg, 9deg);
}
.orig_content {
  transform-origin: left top;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container_2 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}
.orig_container_2.hero_section {
  /* padding-top: 104px; */
}
.orig_get_syllabus_title {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(62, 57, 107);
  font-size: 20px;
  line-height: 1.94em;
  font-weight: 600;
  text-align: center;
}
.mb-60 {
  margin-bottom: 60px;
}
.s-m-b-100 {
  margin-bottom: 100px;
}
.orig_logos_flex {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}

._5col-item-logo {
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  justify-content: center;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.orig_image_logos_2 {
  max-height: 70px;
}
.orig_image_logos_2.edsurge {
  max-height: 34px;
  object-fit: contain;
}
.orig_image_logos_2.bootcamp-2 {
  position: relative;
  bottom: -7px;
  max-height: 90px;
}
.orig_image_logos_2.tc {
  position: relative;
  top: 5px;
}
.orig_image_logos_2.bob {
  width: 120px;
  height: 90px;
  max-height: 90px;
  object-fit: contain;
}
.orig_image_logos_2.sifted {
  max-height: 35px;
}
._4col-item-logo {
  display: flex;
  width: 22%;
  -webkit-box-pack: center;
  justify-content: center;
}
._4col-item-logo.hosting-adv,
._4col-item-logo.infobae,
._4col-item-logo.vb {
  margin-top: 30px;
}
.orig_image_logos_2.hosting-advice {
  position: relative;
  max-height: 56px;
}
._4col-item-logo.cincodias {
  position: relative;
  left: 12px;
  margin-top: 30px;
}
.orig_image_logos_2.cincodias {
  width: 153px;
  height: 24px;
}
.orig_image_logos_2.vb {
  width: 60px;
  height: 42px;
}
.orig_image_logos_2.infobae {
  width: 126px;
  height: 30px;
}
._4col-item-logo.bi {
  margin-top: 30px;
}
.orig_image_logos_2.bootcamp-3 {
  position: relative;
  bottom: -11px;
  max-height: none;
}
._4col-item-logo.forbes {
  margin-top: 26px;
}
.orig_image_logos_2.forbes {
  width: 100px;
  height: 30px;
}
* {
  box-sizing: border-box;
}
.orig_content {
  position: relative;
  z-index: 105;
  display: block;
  width: 100%;
  transform: skew(0deg, 9deg);
}
.orig_content {
  transform-origin: left top;
}
.w-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 940px;
}
.w-container::after,
.w-container::before {
  content: " ";
  display: table;
  grid-area: 1 / 1 / 2 / 2;
}
.w-container::after {
  clear: both;
}
.orig_container_2 {
  position: relative;
  z-index: 100;
  width: 100%;
  max-width: 1140px;
  padding-right: 15px;
  padding-left: 15px;
}
.orig_container_2.hero_section {
  /* padding-top: 104px; */
}
.orig_get_syllabus_title {
  padding-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  color: rgb(62, 57, 107);
  font-size: 20px;
  line-height: 1.94em;
  font-weight: 600;
  text-align: center;
}
.mb-60 {
  margin-bottom: 60px;
}
.s-m-b-100 {
  margin-bottom: 100px;
}
.orig_logos_flex {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
}
._5col-item-logo {
  display: flex;
  width: 20%;
  -webkit-box-pack: center;
  justify-content: center;
}
img {
  border: 0px;
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
}
.orig_image_logos_2 {
  max-height: 70px;
}
.orig_image_logos_2.edsurge {
  max-height: 34px;
  object-fit: contain;
}
.orig_image_logos_2.bootcamp-2 {
  position: relative;
  bottom: -7px;
  max-height: 90px;
}
.orig_image_logos_2.tc {
  position: relative;
  top: 5px;
}
.orig_image_logos_2.bob {
  width: 120px;
  height: 90px;
  max-height: 90px;
  object-fit: contain;
}
.orig_image_logos_2.sifted {
  max-height: 35px;
}
._4col-item-logo {
  display: flex;
  width: 22%;
  -webkit-box-pack: center;
  justify-content: center;
}
._4col-item-logo.hosting-adv,
._4col-item-logo.infobae,
._4col-item-logo.vb {
  margin-top: 30px;
}
.orig_image_logos_2.hosting-advice {
  position: relative;
  max-height: 56px;
}
._4col-item-logo.cincodias {
  position: relative;
  left: 12px;
  margin-top: 30px;
}
.orig_image_logos_2.cincodias {
  width: 153px;
  height: 24px;
}
.orig_image_logos_2.vb {
  width: 60px;
  height: 42px;
}
.orig_image_logos_2.infobae {
  width: 126px;
  height: 30px;
}
._4col-item-logo.bi {
  margin-top: 30px;
}
.orig_image_logos_2.bootcamp-3 {
  position: relative;
  bottom: -11px;
  max-height: none;
}
._4col-item-logo.forbes {
  margin-top: 26px;
}
.orig_image_logos_2.forbes {
  width: 100px;
  height: 30px;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    /* padding-top: 66px; */
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.edsurge {
    max-height: 40px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.bootcamp-2 {
    bottom: -1px;
    max-height: 60px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.tc {
    top: auto;
    max-height: 50px;
    object-fit: contain;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bob {
    width: 93.33px;
    height: 70px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.hosting-adv {
    width: 25%;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.hosting-adv {
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.hosting-advice {
    left: -8px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.cincodias {
    left: 21px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.cincodias {
    width: 122px;
    height: 18px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.vb {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.infobae {
    position: relative;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.infobae {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.infobae {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.infobae {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.bi {
    width: 35%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bi {
    max-height: 50px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.forbes {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.forbes {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.forbes {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    /* padding-top: 66px; */
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.edsurge {
    max-height: 40px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.bootcamp-2 {
    bottom: -1px;
    max-height: 60px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.tc {
    top: auto;
    max-height: 50px;
    object-fit: contain;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bob {
    width: 93.33px;
    height: 70px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.hosting-adv {
    width: 25%;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.hosting-adv {
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.hosting-advice {
    left: -8px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.cincodias {
    left: 21px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.cincodias {
    width: 122px;
    height: 18px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.vb {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.infobae {
    position: relative;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.infobae {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.infobae {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.infobae {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.bi {
    width: 35%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bi {
    max-height: 50px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.forbes {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.forbes {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.forbes {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
}
@media screen and (max-width: 991px) {
  .orig_container_2 {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2 {
    z-index: 103;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
  }
}
@media screen and (max-width: 767px) {
  .orig_container_2.hero_section {
    /* padding-top: 66px; */
  }
}
@media (max-width: 1200px) {
  .orig_container_2 {
    max-width: 960px;
  }
}
@media (max-width: 991px) {
  .orig_container_2 {
    max-width: 720px;
  }
}
@media (max-width: 767px) {
  .orig_container_2 {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .orig_container_2 {
    max-width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.edsurge {
    max-height: 40px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.bootcamp-2 {
    bottom: -1px;
    max-height: 60px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.tc {
    top: auto;
    max-height: 50px;
    object-fit: contain;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bob {
    width: 93.33px;
    height: 70px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.hosting-adv {
    width: 25%;
    -webkit-box-pack: start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.hosting-adv {
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.hosting-advice {
    left: -8px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.cincodias {
    left: 21px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 479px) {
  .orig_image_logos_2.cincodias {
    width: 122px;
    height: 18px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.vb {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.cincodias,
  ._4col-item-logo.vb {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo.infobae {
    position: relative;
    -webkit-box-pack: end;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.infobae {
    -webkit-box-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.infobae {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.infobae {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.bi {
    width: 35%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.bi {
    max-height: 50px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  .sm-m-t-30 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.bootcamp-2,
  .orig_image_logos_2.bootcamp-2-copy,
  .orig_image_logos_2.bootcamp-3 {
    bottom: -4px;
  }
}
@media screen and (max-width: 991px) {
  ._4col-item-logo {
    width: 25%;
  }
}
@media screen and (max-width: 767px) {
  ._4col-item-logo.forbes {
    position: relative;
    left: 19px;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo,
  ._5col-item-logo {
    width: 100%;
  }
}
@media screen and (max-width: 479px) {
  ._4col-item-logo.bi,
  ._4col-item-logo.forbes {
    left: auto;
  }
}
@media screen and (max-width: 991px) {
  .orig_image_logos_2.forbes {
    max-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .orig_image_logos_2.forbes {
    width: 85px;
    height: 20px;
    max-height: 20px;
  }
}


</style>